﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reporting/Shared/_default.Master" AutoEventWireup="true" CodeBehind="List.aspx.cs" Inherits="LeadApp.Reporting.List" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MasterHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MasterBody" runat="server">
</asp:Content>
