﻿@model object
@if (Model == null) 
{
	@ViewData.ModelMetadata.NullDisplayText
} 
else if (ViewData.TemplateInfo.TemplateDepth > 1) 
{
	@ViewData.ModelMetadata.SimpleDisplayText
} 
else 
{
	<table>
		@foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay && !pm.IsComplexType && !ViewData.TemplateInfo.Visited(pm))) 
    {
        if (prop.HideSurroundingHtml) 
        {
			@Html.Display(prop.PropertyName)
        }
        else 
        {
			<tr>
				<td class="display-label">
						@prop.GetDisplayName()
				</td>
				<td class="display-field">
						@Html.Display(prop.PropertyName)
				</td>
			</tr>
        }
    }
	</table>
}