﻿@model LeadApp.Models.TaskRespons

<script type="text/javascript">
	$(document).ready(function () {
		$('#Response').ckeditor();
	});
</script>

<br />
<br />
<h3 class="expander heading">Your Reply</h3>
<div class="expandable">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.TaskID)

		<div class="row">@Html.TextAreaFor(m => m.Response)</div>
		<div class="row">
			<div class="col-2">@Html.DropDownList("StatusID") </div>
			<div class="col-2">
				<input type="submit" value="Submit" class="btn btn-default" />
			</div>
		</div>
	}
</div>
