﻿@model IEnumerable<LeadApp.Models.TaskRespons>
@{
	ViewBag.Title = "Task History";
	Layout = null;
}

@{
	int i = 1;
	foreach (var item in Model)
	{
		string AltRow = (i % 2 != 0) ? "" : " alt";
		var ThumbImg = item.AppUser.AppUserMetas.Where(e => e.MetaKey == "Thumbnail-Original").Select(e => e.MetaValue).FirstOrDefault();
		var Author = item.AppUser.AppEmployees.FirstOrDefault();

		string AuthorName = Author != null ? Author.ContactName : "-";
		string Thumbnail = WebConstants.Default_UserThumbURL;
		if (ThumbImg != null)
		{
			Thumbnail = WebConstants.UserProfileThumbURL + "thb32-" + ThumbImg;
		}
		<div class="row @AltRow">

			<div class="col section">
				<div class="col-1 summary-number">
					<h4 class="heading">Reply <span>#@i</span></h4>
				</div>
				<div class="col-11 summary-detail">
					<div class="row">
						<div class="col">
							<div class="col-4"><strong>Submitted By:</strong> <span class="user-id"><a href="/User/ViewProfile?id=@item.SubmitUserID"><span class="profile-icon"><img width="24" height="24" src="@Thumbnail" alt="" /></span> @AuthorName</a></span></div>
							<div class="col-4"><strong>Status:</strong> <span class="@Html.DisplayFor(m => item.ActivityStatus.StatusName)">@Html.DisplayFor(m => item.ActivityStatus.StatusName)</span> </div>
							<div class="col-4"><strong>Response Date:</strong> <span class="time">@Html.DisplayFor(m => item.ResponseDate)</span></div>
						</div>
						<div class="col reply">@Html.Raw(item.Response)</div>

					</div>
				</div>
			</div>
		</div>
		i++;
	}
}