﻿@model LeadApp.Models.Task
@{
	ViewBag.Title = "Task Detail";
	LeadApp.Models.TaskRespons AddResponse = new LeadApp.Models.TaskRespons();
	AddResponse.TaskID = Model.TaskID;


	var AuthorThumbImg = @Model.AppUser.AppUserMetas.Where(e => e.MetaKey == "Thumbnail-Original").Select(e => e.MetaValue).FirstOrDefault();
	string AuthorThumbnail = WebConstants.Default_UserThumbURL;
	if (AuthorThumbImg != null)
		AuthorThumbnail = WebConstants.UserProfileThumbURL + "thb32-" + AuthorThumbImg;
}

@if (Model.CreatedBy == Auth.UserID && Model.isClosed != true)
{
	@section KeyButtons {
		@using (Html.BeginForm("ChangeStatus", "Task"))
		{
			@Html.HiddenFor(m => m.TaskID)
			<input type="submit" name="status" value="In Progress" class="btn small" />
			<input type="submit" name="status" value="Postponed" class="btn small" />
			<input type="submit" name="status" value="Completed" class="btn small" />
			<input type="submit" name="status" value="Completed & Close" class="btn small" />
			<input type="submit" name="status" value="Cancelled" class="btn small red" />
		}
	}
}



<h2 class="heading">@Html.DisplayFor(m => m.Title)</h2>
<div class="row">
	<div class="col-3"><strong>Assigned By:</strong> <a href="/User/ViewProfile?id=@Model.CreatedBy"><span class="profile-icon"><img width="24" height="24" src="@AuthorThumbnail" alt="" /></span> @Html.DisplayFor(m => m.AppUser.AppEmployees.First().ContactName)</a></div>
	<div class="col-3"><strong>Status:</strong> @Html.DisplayFor(m => m.ActivityStatus.StatusName)</div>
	<div class="col-3"><strong>Due Date:</strong> @Html.DisplayFor(m => m.DateDue)</div>

	@if (Model.TaskAssignees.Count() > 0)
	{
		<div class="col-3">
			<strong>Assignees:</strong><br />
			@foreach (var u in Model.TaskAssignees)
			{

				var ThumbImg = @u.AppUser.AppUserMetas.Where(e => e.MetaKey == "Thumbnail-Original").Select(e => e.MetaValue).FirstOrDefault();
				var Assignee = u.AppUser.AppEmployees.FirstOrDefault();

				string AssigneeName = Assignee != null ? Assignee.ContactName : "-";
				string Thumbnail = (ThumbImg != null) ? WebConstants.UserProfileThumbURL + "thb32-" + ThumbImg : WebConstants.Default_UserThumbURL;

				<div><a href="/User/ViewProfile?id=@u.AssigneeUserID"><span class="profile-icon"><img width="24" height="24" src="@Thumbnail" alt="" /></span> @AssigneeName</a> </div>
			}
		</div>
	}
</div>
<div class="row">
	@Html.Raw(HttpUtility.HtmlDecode(Model.Description))
</div>
<br />
<br />
<h3 class="expander heading">Responses</h3>
<div class="row expandable task-summary-cont">
	@{Html.RenderAction("_TaskSummary", new { id = Model.TaskID }); }
</div>






@if (Model.isClosed != true)
{
	@Html.Partial("_Reply", AddResponse)
}
else
{
	<div class="row">
		<div class="alert info">Task is closed, further responses cannot be submitted!</div>
	</div>
}


@ActivityLogHelper.Show("Task", true, Model.TaskID)

