﻿@model LeadApp.Models.Task
@{
	ViewBag.Title = "New Task";
}


<script type="text/javascript">
	$(document).ready(function () {
		$('#DateDue').datetimepicker({ format: 'd M Y h:i A' });
		$('#Description').ckeditor();
	});
</script>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.TaskID)
	<table>
		<tr>
			<td>Subject</td>
			<td>@Html.EditorFor(m => m.Title, new { htmlAttributes = new { size = 100 } }) @Html.ValidationMessageFor(model => model.Title) </td>
		</tr>
		<tr>
			<td>Assign to</td>
			<td>@Html.ListBox("AssigneeUserID") @Html.ValidationMessageFor(model => model.TaskAssignees) </td>
		</tr>
		<tr>
			<td>Due Date</td>
			<td>@Html.EditorFor(m => m.DateDue) <span class="small-info">Leave blank if no due date</span> @Html.ValidationMessageFor(model => model.DateDue)</td>
		</tr>
		<tr>
			<td>Task Status</td>
			<td>@Html.DropDownList("StatusID")  </td>
		</tr>
		<tr>
			<td colspan="2">@Html.TextAreaFor(m => m.Description) @Html.ValidationMessageFor(model => model.Description)</td>
		</tr>
	</table>
	<div>
		<input type="submit" value="Save" class="btn btn-default" />
	</div>
}

