﻿@model IEnumerable<LeadApp.Models.Task>
@{
	ViewBag.Title = "To-Do Tasks";
	var grid = new WebGrid(Model, canPage : true, rowsPerPage : WebConstants.PagingSize, selectionFieldName : "selectedRow", ajaxUpdateContainerId : "grid-content");
	grid.Pager(WebGridPagerModes.NextPrevious);
}
@section SearchForm {
}
@section TopButtons {
	@Html.ActionLink("New Task", "Create", null, new { @class = "btn" })
}


<div id="grid-content">
	@if (Model.Count() > 0) {
		@grid.GetHtml(tableStyle : "content-table grid",
			headerStyle : "grid-header",
			footerStyle : "grid-footer",
			alternatingRowStyle : "alt-row",
			selectedRowStyle : "select-row",
			mode : WebGridPagerModes.All,
			firstText : "<< First",
			previousText : "Prev",
			nextText : "Next",
			lastText : "Last >>",

				columns : grid.Columns(
				grid.Column("Title", "Subject"),
				grid.Column("ActivityStatus.StatusName", "Status"),
				grid.Column(header: "Assign By", format: (item) =>
					 {
						 return (CommonHelpers.AssignBy(item.AppUser.AppEmployees));
					 }
				 ), 
				 grid.Column(header: "Assignees", format: (item) =>
				 {
					return (CommonHelpers.Assignees(item.TaskAssignees));
				}
			),
				grid.Column(header : "Close", format : (item) => {
					if (item.isClosed)
						return Html.Raw(string.Format("<text><img src=\"{0}\" alt=\"Close\"/></text>", Url.Content("~/Content/images/success.png")));
					else
						return Html.Raw(string.Format("<text>-</text>"));
				}
			),
				grid.Column("DateDue", "Due Date", format : (item) => (HelperMethods.FormatDateTime(item.DateDue))),
				grid.Column("", header : "Action", style : "grid-actions", format : @<text>
		@Html.ActionLink("View", "Detail", new { id = item.TaskID }, new { @class = "grid-view" })
		@if (Auth.UserID == item.CreatedBy && !item.isClosed) {
			@Html.ActionLink("Edit", "Edit", new { id = item.TaskID }, new { @class = "grid-edit" })         	
			@Html.ActionLink("Delete", "Delete", new { id = item.TaskID }, new { @class = "grid-delete delete-link" })
		}
		</text>)
 ))
	} else {
		<div class="alert info">No Record Found</div>
	}

</div>

@DeleteHelper.Show()