﻿@model LeadApp.Models.AppEmployee

@{
	ViewBag.Title = "Create User Account";
}


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
  
	<table>
		<tr>
			<td>
				@Html.LabelFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.EditorFor(model => model.AppUser.UserName)
				@Html.ValidationMessageFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.LabelFor(model => model.AppUser.Password)
			</td>
			<td>
				@Html.EditorFor(model => model.AppUser.Password)
				@Html.ValidationMessageFor(model => model.AppUser.Password)
				<div class="small-info">Leave blank to Generate Random Password</div>
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.AppUser.GroupID, "Group")</td>
			<td>
				@Html.DropDownList("GroupID")
				@Html.ValidationMessageFor(model => model.AppUser.GroupID)
			</td>
			<td>@Html.LabelFor(model => model.PricePerLead)  </td>
			<td>
				@Html.EditorFor(model => model.PricePerLead)
				@Html.ValidationMessageFor(model => model.PricePerLead)
			</td>
		</tr>


		<tr>
			<td>@Html.LabelFor(model => model.ContactName)</td>
			<td>
				@Html.EditorFor(model => model.ContactName)
				@Html.ValidationMessageFor(model => model.ContactName)
			</td>

			<td>@Html.LabelFor(model => model.Email)</td>
			<td>
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</td>
		</tr>


		<tr>
			<td>@Html.LabelFor(model => model.TelNo)  </td>
			<td>
				@Html.EditorFor(model => model.TelNo)
				@Html.ValidationMessageFor(model => model.TelNo)
			</td>
			<td>@Html.LabelFor(model => model.Notes)</td>
			<td>
				@Html.TextAreaFor(model => model.Notes)
				@Html.ValidationMessageFor(model => model.Notes)
			</td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.isEmailSend) </td>
			<td>
				@Html.EditorFor(model => model.isEmailSend)
				@Html.ValidationMessageFor(model => model.isEmailSend)
			</td>
			<td>@Html.LabelFor(model => model.AppUser.isDisable) </td>
			<td>
				@Html.EditorFor(model => model.AppUser.isDisable)
				@Html.ValidationMessageFor(model => model.AppUser.isDisable)</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.AppUser.isNotify) </td>
			<td>
				@Html.EditorFor(model => model.AppUser.isNotify)
				@Html.ValidationMessageFor(model => model.AppUser.isNotify)
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<div class="row">
		<div class="col">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
