﻿@model LeadApp.Models.AppEmployee

@{
	ViewBag.Title = "Edit Profile";
}


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.EmployeeID)
	@Html.HiddenFor(model => model.UserId)
	@Html.HiddenFor(model => model.AppUser.UserName)
	<table>
		<tr>
			<td>
				@Html.LabelFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.DisplayFor(model => model.AppUser.UserName)
			</td>
			<td>
				@Html.LabelFor(model => model.AppUser.Password)
			</td>
			<td>
				@Html.EditorFor(model => model.AppUser.Password)
				@Html.ValidationMessageFor(model => model.AppUser.Password)
				<div class="small-info">Leave blank to Generate Random Password</div>
			</td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.ContactName)</td>
			<td>
				@Html.EditorFor(model => model.ContactName)
				@Html.ValidationMessageFor(model => model.ContactName)
			</td>

			<td>@Html.LabelFor(model => model.Email)</td>
			<td>
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.TelNo)  </td>
			<td>
				@Html.EditorFor(model => model.TelNo)
				@Html.ValidationMessageFor(model => model.TelNo)
			</td>
			<td>@Html.LabelFor(model => model.AppUser.isNotify) </td>
			<td>
				@Html.EditorFor(model => model.AppUser.isNotify)
				@Html.ValidationMessageFor(model => model.AppUser.isNotify)
			</td>
		</tr>
	</table>
	<div class="row">
		<div class="col">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
	
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
