﻿@model LeadApp.Models.AppUserPwdRequest
@{
	Layout = "~/Views/Shared/_Login.cshtml";
	ViewBag.Title = "Forgot Password";
}
<div class="login-form">
	@using (Html.BeginForm())


	{
		@Html.AntiForgeryToken()
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.UserName, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.UserName, new { @class="txt-username" })
				@Html.ValidationMessageFor(model => model.UserName)
			</div>
		</div>
		<div class="separator txt-center"><strong>OR</strong></div>
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.Email, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.Email, new { @class = "txt-email" })
				@Html.ValidationMessageFor(model => model.Email)
			</div>
		</div>
    if (Model.ShowCaptcha) {
		<div class="row">
			<div class="col captcha">
				Type the characters you see in the picture<br />
				@Html.LabelFor(model => model.Captcha, new { @class = "control-label" })
				@Html.EditorFor(model => model.Captcha)
				@Html.ValidationMessageFor(model => model.Captcha)
				<img id="CaptchaImg" src="/home/captcha" alt="Unable to Read? Click to refresh and get new verification image!" />
				@Html.ValidationMessage("Captcha")
			</div>
		</div>
    }
		<div class="row submit-row">

			<div class="col">
				<input type="submit" value="Request Password" id="submit" name="submit" class="btn-login" />
			</div>
			<div class="col">
				<a href="/User/Login">&lt;&lt;Back</a>
			</div>
		</div>
    }
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#CaptchaImg').click(function () {
			$(this).attr('src', function () {
				var d = new Date();
				return this.src + '?' + d.getTime();
			});
			return false;

		});
	});
</script>

