﻿@model IEnumerable<LeadApp.Models.AppEmployee>

@{
	ViewBag.Title = "User Management";
	var grid = new WebGrid(Model, canPage : true, rowsPerPage : WebConstants.PagingSize, selectionFieldName : "selectedRow", ajaxUpdateContainerId : "grid-content");
	grid.Pager(WebGridPagerModes.NextPrevious);
}
@section SearchForm {
}
@section TopButtons {
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
}

<div id="grid-content">
	@if (Model.Count() > 0) {
		@grid.GetHtml(tableStyle : "content-table grid",
			headerStyle : "grid-header",
			footerStyle : "grid-footer",
			alternatingRowStyle : "alt-row",
			selectedRowStyle : "select-row",
			mode : WebGridPagerModes.All,
			firstText : "<< First",
			previousText : "Prev",
			nextText : "Next",
			lastText : "Last >>",

			columns : grid.Columns(
			grid.Column("UserName", header : "Username", format : (model => model.AppUser.UserName)),
			grid.Column("ContactName", header : "Full Name"),
			grid.Column("Email", header : "Email"),
			grid.Column("GroupName", header: "Group", format: (model => model.AppUser.AppGroup.GroupName)),
			grid.Column("PricePerLead", header: "Price/Lead"),
			grid.Column(header : "Notify", format : (item) => {
					if (item.AppUser.isNotify)
						return Html.Raw(string.Format("<text><img src=\"{0}\" alt=\"Close\"/></text>", Url.Content("~/Content/images/success.png")));
					else
						return Html.Raw(string.Format("<text>-</text>"));
				}),
			grid.Column("", header : "Actions", style : "grid-actions", format : @<text>
	@Html.ActionLink("Profile", "ViewProfile", new { id = item.UserId }, new { @class = "grid-view" })
	@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "grid-edit" })
	@Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "grid-delete delete-link" })
	</text>
 ) ))
	} else {
		<div class="alert info">No Record Found</div>
	}

</div>

@DeleteHelper.Show()