﻿@model LeadApp.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "User Login";
    ViewBag.CssClass = "userlogin";
}

    <!-- Form Content starts -->
   
        <div class="title">
            <h1>Sign In</h1>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row-form">

                @*@Html.LabelFor(model => model.UserName, new { @class = "control-label" })*@
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name", @class = "flat" })
                @Html.ValidationMessageFor(model => model.UserName)

            </div>
            <div class="row-form">

                @* @Html.LabelFor(model => model.Password, new { @class = "control-label" })  *@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "flat", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="row-form">
                <input type="submit" value="Sign In" id="submit" name="submit" class="btn-login btn primary" />
            </div>

            <div class="footer">
                <div class="row row-form">
                    <div class="col">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.isRemember)
                            @Html.LabelFor(model => model.isRemember, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="col text-right">
                        <a href="/User/Forgot">Forgot Password?</a>
                    </div>
                </div>
            </div>

            if (Model.ShowCaptcha) 
            {
                <div class="row">
                    <div class="col captcha">
                        Type the characters you see in the picture<br />
                        @Html.LabelFor(model => model.Captcha, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Captcha)
                        @Html.ValidationMessageFor(model => model.Captcha)
                        <img id="CaptchaImg" src="/home/captcha" alt="Unable to Read? Click to refresh and get new verification image!" />
                        @Html.ValidationMessage("Captcha")
                    </div>
                </div>
            }


               

        }




        <script type="text/javascript">
            $(document).ready(function () {
                $('#CaptchaImg').click(function () {
                    $(this).attr('src', function () {
                        var d = new Date();
                        return this.src + '?' + d.getTime();
                    });
                    return false;

                });
            });
        </script>

