﻿@model LeadApp.Models.AppUserPwdRequest
@{
	Layout = "~/Views/Shared/_Login.cshtml";
	ViewBag.Title = "Reset Password";
}
<div class="login-form">
	@using (Html.BeginForm())


	{
		@Html.AntiForgeryToken()
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.Password, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.Password, new { @class = "txt-password" })
				@Html.ValidationMessageFor(model => model.Password)
			</div>
		</div>
		<div class="row">
			<div class="col">
				@Html.LabelFor(model => model.Confirmpwd, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.Confirmpwd, new { @class = "txt-password" })
				@Html.ValidationMessageFor(model => model.Confirmpwd)
			</div>
		</div>
		<div class="row submit-row">

			<div class="col">
				<input type="submit" value="Reset Password" id="submit" name="submit" class="btn-login" />
			</div>
			<div class="col">
				<a href="/User/Login">&lt;&lt; Back</a>
			</div>
		</div>
    }
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#CaptchaImg').click(function () {
			$(this).attr('src', function () {
				var d = new Date();
				return this.src + '?' + d.getTime();
			});
			return false;

		});
	});
</script>

