﻿@{
	Layout = null;
}
<form enctype="multipart/form-data" method="post" action="UploadPicture" name="uploadpicture">
	<div class="row">
		<div>
			<input type="file" class="file-upload" name="Profile-Pic" id="Profile-Pic" />
			<input type="submit" id="submit" value="Upload" class="btn-primary" />
		</div>
		<div class="info">
			<strong>Allowed:</strong> <span class="small-info">@WebConstants.UserProfileExtensions.Replace(",", ", ")</span>
			<strong>Max File Size:</strong> <span class="small-info">@WebConstants.UserProfileImageFileSize KB</span>
		</div>
	</div>
</form>
