﻿@model LeadApp.Models.AppEmployee

@{
	ViewBag.Title = "User Profile";
}

<table>
	<tr>
		<td>
			@Html.LabelFor(model => model.AppUser.UserName)
		</td>
		<td>
			@Html.DisplayFor(model => model.AppUser.UserName)
		</td>
		<td rowspan="7" colspan="2" align="center">
			<div class="profile-pic" style="text-align:center;">
				<img src="@ViewBag.Thumb" alt="" width="128" height="128" />
				@if (Auth.UserID == Model.UserId) {
					Html.RenderPartial("UploadPicture");
				}
			</div>
		</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(model => model.ContactName)</td>
		<td>
			@Html.DisplayFor(model => model.ContactName)
		</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(model => model.Email)</td>
		<td>
			@Html.DisplayFor(model => model.Email)
		</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(model => model.TelNo)  </td>
		<td>
			@Html.DisplayFor(model => model.TelNo)
		</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(model => model.Notes)</td>
		<td>@Html.Raw(Model.Notes)</td>
	</tr>
</table>

@if (Auth.UserID == Model.UserId) {
	ActivityLogHelper.Show("User", true, Model.UserId);
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
