﻿@model LeadApp.Models.Website

@{
	ViewBag.Title = "Create Website";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<table>
		<tr>
			<td>@Html.LabelFor(model => model.Name)</td>
			<td>
				@Html.EditorFor(model => model.Name)<br />
				@Html.ValidationMessageFor(model => model.Name)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Domain)</td>
			<td>
				@Html.EditorFor(model => model.Domain)<br />
				@Html.ValidationMessageFor(model => model.Domain)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Email)</td>
			<td>
				@Html.EditorFor(model => model.Email)<br />
				@Html.ValidationMessageFor(model => model.Email)
			</td>
		</tr>
	</table>

	<div class="row">
		<input type="submit" value="Save" class="btn btn-default" />
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
