﻿Dear <%NAME%>,
<br>
<br>
Your account information has been updated.
<br>
<br>
User Name: <%USERNAME%><br>
Password: Forgot it? <a href="<%URL%>"><em>Reset your password</em></a><br>
<br>
You can access your account using the following URL: <a href="<%URL%>"><strong><%URL%></strong></a>
<br>
<br>

<%SIGNATURE%>
