﻿Dear <%USERNAME%>,
<br>
<br>
Your account must be activated before you will be allowed to log in. Please click the link to activate your account<br> 
<a href="<%ACTIVATELINK%>"><strong><%ACTIVATELINK%></strong></a>
<br>
<br>

<%SIGNATURE%>