﻿Dear User,
<br>
<br>
A New Lead has been generated from the website.<br>

<%EMAIL-MESSAGE%>

<br><br>
To login, visit <a href="<%URL%>"><strong><%URL%></strong></a> <br>
<br>
<%SIGNATURE%>
