﻿Dear <%USERNAME%>, 
<br>
<br>
Your password has been reset at <%password%>.  
<br>
Your new password is <%PASSWORD%>.  You may change it after logging into system and click change password option.
    
<br>
To login, visit <a href="<%URL%>"><strong><%URL%></strong></a>
<br>
<br>

<%SIGNATURE%>
