﻿Dear <%USERNAME%>, 
<br>
<br>
Recently a request was submitted to reset your password. If you did not request this, please ignore this email.
<br>
<br>
To reset your password, please visit the url<br>  
<a href="<%ACTIVATELINK%>"><strong><%ACTIVATELINK%></strong></a>
<br>
<br>
When you visit the link above, you can specify new password.
<br>
<br>

<%SIGNATURE%>
