﻿Dear User,
<br>
<br>
There is a Task title <b><%TASK-TITLE%></b> is assigned to you. <br>
<br>
<b>Assigned by:</b> <%AUTHOR%><br>
<b>Due Date:</b> <%DATE%><br>
<b>Message:</b><br>
<%EMAIL-MESSAGE%>
<br>
To login, visit <a href="<%URL%>"><strong><%URL%></strong></a> <br>
<br>
<%SIGNATURE%>
