﻿Dear User,
<br>
<br>
There is a New Reply on Task title <b><%TASK-TITLE%></b>.<br>
<br>
<b>Reply by:</b> <%AUTHOR%><br>
<b>Status:</b> <%STATUS%><br>
<b>Due Date:</b> <%DATE%><br>
<b>Message:</b><br>
<%EMAIL-MESSAGE%>
<br>
To login, visit <a href="<%URL%>"><strong><%URL%></strong></a> <br>
<br>
<%SIGNATURE%>
