﻿Dear <%NAME%>,
<br>
<br>
Thank you for signing up with us. Your new account has been setup and you can now login to our system using the details below.
<br>
<br>
User Name: <%USERNAME%><br>
Password: <%PASSWORD%> <br>
<br>
You can access your account using the following URL: <a href="<%URL%>"><strong><%URL%></strong></a>
<br>
<br>

<%SIGNATURE%>