﻿@model LeadApp.Models.DashBoardVM
@{
    ViewBag.Title = "DashBoard";
    ViewBag.CssClass = "view-mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress-round {
        position: relative;
        display: table;
        margin: 0px auto;
        text-align: center;
    }

        .progress-round span {
            color: #555;
            display: block;
            line-height: 180px;
            text-align: center;
            width: 180px;
            font-family: sans-serif;
            font-size: 30px;
            font-weight: 100;
        }

        .progress-round canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
</style>

<div id="main-content-area">
    <div class="content">
        <!-- Main Content Area for Stuff -->
        <div class="row panel-row">
            <div class="col">
                <div class="panel">
                    <h3>Weekly Total Earning</h3>
                    @*<p>@Model.Totalweeklyearning</p>*@
                    <div class="progress-round margin-top"><span>$@Model.Totalweeklyearning</span></div>

                </div>
            </div>

            <div class="col">
                <div class="panel">
                    <h3>Weekly Approved Leads</h3>
                    <p><a href="@Url.Action("Index","LeadPhone",new { StatusId = 21 })">@Model.TotalWeeklyLeadsApproved</a> Out of <a href="@Url.Action("Index","LeadPhone",new { StatusId = 20 })">@Model.TotalLeads</a> </p>
                    <div class="progress-round margin-top" id="graph" data-percent="@Model.TotalPercentageLeadsApproved"></div>
                </div>
            </div>

            <div class="col">
                <div class="panel">
                    <h3>Weekly Failed Leads</h3>
                    <p><a href="@Url.Action("Index","LeadPhone",new { StatusId = 22 })">@Model.TotalweeklyLeadsRejected</a> Out of <a href="@Url.Action("Index","LeadPhone",new { StatusId = 20 })">@Model.TotalLeads</a> </p>
                    <div class="progress-round margin-top" id="graph1" data-percent="@Model.TotalPercentageLeadsRejected"></div>
                </div>
            </div>
        </div>

   @if(Auth.GroupID!=6)
   { 
        <div class="row panel-row">
            <div class="col">
                <div class="panel">
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Agent Name</th>
                                <th scope="col">Leads</th>
                                <th scope="col">Approved</th>
                                <th scope="col">KPI</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AgentInfo != null)
                            {
                                foreach (var item in Model.AgentInfo)
                                {
                                    <tr>
                                        <td>@item.AgentName</td>
                                        <td>@item.AgentCallsmade</td>
                                        <td>@item.AgentAcceptedOffers</td>
                                        <td>@item.KPI</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
   }

    </div>
</div>


<script type="text/javascript">
    var el = document.getElementById('graph'); // get canvas

    var options = {
        percent: el.getAttribute('data-percent') || 25,
        size: el.getAttribute('data-size') || 180,
        lineWidth: el.getAttribute('data-line') || 25,
        rotate: el.getAttribute('data-rotate') || 0
    }

    var canvas = document.createElement('canvas');
    var span = document.createElement('span');
    span.textContent = options.percent + '%';

    if (typeof (G_vmlCanvasManager) !== 'undefined') {
        G_vmlCanvasManager.initElement(canvas);
    }

    var ctx = canvas.getContext('2d');
    canvas.width = canvas.height = options.size;

    el.appendChild(span);
    el.appendChild(canvas);

    ctx.translate(options.size / 2, options.size / 2); // change center
    ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI); // rotate -90 deg

    //imd = ctx.getImageData(0, 0, 240, 240);
    var radius = (options.size - options.lineWidth) / 2;

    var drawCircle = function (color, lineWidth, percent) {
        percent = Math.min(Math.max(0, percent || 1), 1);
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false);
        ctx.strokeStyle = color;
        ctx.lineCap = 'butt'; // butt, round or square
        ctx.lineWidth = lineWidth
        ctx.stroke();
    };

    drawCircle('#eceef2', options.lineWidth, 100 / 100);
    drawCircle('#ffc400', options.lineWidth, options.percent / 100);


    var el = document.getElementById('graph1'); // get canvas

    var options = {
        percent: el.getAttribute('data-percent') || 25,
        size: el.getAttribute('data-size') || 180,
        lineWidth: el.getAttribute('data-line') || 25,
        rotate: el.getAttribute('data-rotate') || 0
    }

    var canvas = document.createElement('canvas');
    var span = document.createElement('span');
    span.textContent = options.percent + '%';

    if (typeof (G_vmlCanvasManager) !== 'undefined') {
        G_vmlCanvasManager.initElement(canvas);
    }

    var ctx = canvas.getContext('2d');
    canvas.width = canvas.height = options.size;

    el.appendChild(span);
    el.appendChild(canvas);

    ctx.translate(options.size / 2, options.size / 2); // change center
    ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI); // rotate -90 deg

    //imd = ctx.getImageData(0, 0, 240, 240);
    var radius = (options.size - options.lineWidth) / 2;

    var drawCircle = function (color, lineWidth, percent) {
        percent = Math.min(Math.max(0, percent || 1), 1);
        ctx.beginPath();
        ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false);
        ctx.strokeStyle = color;
        ctx.lineCap = 'butt'; // butt, round or square
        ctx.lineWidth = lineWidth
        ctx.stroke();
    };

    drawCircle('#eceef2', options.lineWidth, 100 / 100);
    drawCircle('#ffc400', options.lineWidth, options.percent / 100);
</script>






