﻿@model LeadApp.Models.ReportVM

@{ 
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>
@using (Html.BeginForm())
{
    <div>StartDate:<input type="text" name="StartDate" id="StartDate" /></div><br />
    <div>EndDate:<input type="text" name="EndDate" id="EndDate" /></div><br />
    <div><input type="submit" name="btnsubmit" id="btnsubmit" /></div>   


}
@if (Model != null)
{
 <table>
    <tr>
        <td><b>Completed Offers</b></td>
        <td>@Model.CompletedOffers</td>
     </tr>
    <tr>
        <td><b>Current gross sales</b></td>
        <td>@Model.CurrentGrossSales</td>
    </tr>
    <tr>
        <td><b>Current Calls</b></td>
        <td>@Model.CurrentCalls</td>
    </tr>
    <tr>
        <td><b>Completed made offers</b></td>
        <td>@Model.CurrentMadeOffers</td>
    </tr>
    <tr>
        <td><b>Completed accepted offers</b></td>
        <td>@Model.CurrentAcceptedOffers</td>
    </tr>
    
</table>




@*<div>Commision on each tier </div>
<table>
    <tr>
        <td>item Tier</td>
        <td>Accepted offer</td>
        <td>Calls made</td>
    </tr>
    @foreach (var item in Model.TierCommission)
    {
        <tr>
            <td>@item.Tier</td>
            <td>@item.PerTierAcceptedOffers</td>
            <td>@item.PerTierCallsMade</td>
        </tr>
    }
</table>*@

<div id = "main-content-area" >
    <div class="content">
        <!-- Main Content Area for Stuff -->

        <div class="row panel-row">
            @if (Model.TierCommission != null)
            {
                foreach (var item in Model.TierCommission)
                {
                    <div class="col">
                        <div class="panel">
                            <h3>@item.Tier</h3>
                            <p>Commision:<b>@item.PerTierCommision</b></p>
                            <p>Calls made:<b>@item.PerTierCallsMade</b></p>
                            <p>Accepted offer:<b>@item.PerTierAcceptedOffers</b></p>
                        </div>
                    </div>

                }
            }
        </div>
      </div>
 </div>







 if (Model.AgenctCommision != null)
 {
<table> Agent Record</table>
<table>
    <tr>
        <td>Agent Name</td>
        <td>Calls Made</td>
        <td>Accepted Offers</td>
        <td>Agent Sales</td>
    </tr>
    @foreach (var item in Model.AgenctCommision)
    {
        <tr>
            <td>@item.AgentName</td>
            <td>@item.AgentCallsmade</td>
            <td>@item.AgentAcceptedOffers</td>
            <td>@item.AgentSales</td>
        </tr>
    }
</table>
     }
 }





<script type="text/javascript">
	$(document).ready(function () {
	    $('#StartDate').datepicker({ format: 'd M Y h:i A' });

	    $('#EndDate').datepicker({ format: 'd M Y h:i A' });
	
	});
</script>

