﻿@{
	ViewBag.Title = "Reports";
	int Yrno = DateTime.Now.Year;
}
@section SearchForm {
}
@section TopButtons {
}
<table>
	<tr>
		<td>Start Date</td>
		<td>End Date</td>
		<td>Website</td>
		<td>Vehicle Make</td>
		<td>Vehicle Year</td>
		</tr>
	<tr>
		<td>@Html.TextBox("start", null, new { @class = "sysDateField" })</td>
		<td>@Html.TextBox("end", null, new { @class = "sysDateField" })</td>
		<td>@Html.DropDownList("WebId", ViewBag.WebId as IEnumerable<SelectListItem>, "-- All --", new { @class = "form-control" })</td>
		<td>@Html.DropDownList("ManufactureId", ViewBag.ManufactureId as IEnumerable<SelectListItem>, "-- All --", new { @class = "form-control" })</td>
		<td><select name="VehicleYear" id="VehicleYear" class="form-control">
				<option value="">-- All --</option>
	@for (int x = Yrno; x >= 1900; x--)
	{
		var sel = "";
		if (Model != null)
		{
			if (x == Model.VehicleYear) { sel = " selected=\"selected\""; }
		}
		<option value="@x" @sel>@x</option>
	}
</select></td>
	</tr>
</table>
<div class="row">
	<input type="button" name="btn" value="Generate Report" id="btn" />
</div>


		<div>
			<iframe id="report1" class="report-frame" width="1050" height="1200"></iframe>
		</div>


		<script type="text/javascript">
			$(document).ready(function () {
				$(".sysDateField").datepicker();
				//document.getElementById("report1").src = "../../Reporting/List.aspx";


				$("#btn").on("click", function () {

					var start = $("#start").val();
					var end = $("#end").val();
					var WebId = $("#WebId").val();
					var ManufactureId = $("#ManufactureId").val();
					var Yrno = $("#Yrno").val();

					if (WebId == null)
						WebId = "";
					if (ManufactureId == null)
						ManufactureId = "";
					if (Yrno == null)
						Yrno = "";


					var link = "/Reporting/List.aspx?start=" + start + "&end=" + end + "&WebId=" + WebId + "&ManufactureId=" + ManufactureId + "&Yrno=" + Yrno;

					document.getElementById("report1").src = link;
				});


			});
		</script>
