﻿@using LeadApp.Helpers
@using LeadApp.Services
@helper Show(string process = "", bool isProcess = false, dynamic ID = null)
{

	ActivityLogServices _servLog = new ActivityLogServices();
	IEnumerable<LeadApp.Models.ActivityLog> _data = _servLog.GetActivityLog();
	if (!string.IsNullOrEmpty(process) && isProcess && ID != null)
	{
		if (HelperMethods.IsGUID(ID))
		{
			_data = _data.Where(e => e.RecGUID == HelperMethods.ConvertToGUID(ID));
		}
		else
		{
			_data = _data.Where(e => e.GenericID == ID);
		}
	}

	<div class="col expandable-cont">
		<h2 class="heading">Activity Log</h2>
		<div>
			@foreach (var item in _data.GroupBy(e => e.CreateDate.Date))
			{
				<h3 class="expander heading">
					@item.FirstOrDefault().CreateDate.Date.FormatDateTime()
				</h3>
				<div class="expandable">
					<ul class="log-list">
						@foreach (var val in item)
						{
							string Username = val.UserID.ConvertToString();
							if (val.UserID > 0 && val.UserID.HasValue && val.AppUser != null)
							{
								Username = val.AppUser.UserName;
							}
				
							<li>
								<span class="info-@val.Activity.ToLower()">@val.Activity</span>								
								<p><span class="_col-1 time"><i class="fa fa-clock-o" aria-hidden="true"></i> @val.CreateDate.ToString("HH:mm")</span> @val.Detail by <a href="/User/ViewProfile?id=@val.UserID">@Username</a></p>
							</li>
						}
					</ul>
				</div>
			}
		</div>
	</div>
}
