﻿@helper Show()
    {

        @*<div id="delete-dialog" title="Confirmation" style="display: none">
            <p>Are you sure you want to Delete the Reocrd?</p>
        </div>*@


        <div class="modal fade" id="delete-dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Delete Record?</h3>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-auto">
                                <div class="lbl-icon">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </div>
                            </div>
                            
                            <div class="col align-self-center">
                                <p>Are you sure you want to delete the record of <strong><span class="_record_id_num"></span></strong>?</p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn _btn-secondary wide" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn-del-record btn btn-danger wide"><i class="fa fa-ban" aria-hidden="true"></i>Yes, Delete it</button>
                    </div>

                </div>
            </div>
        </div>


        @*
            <script type="text/javascript">
                //var links = $('a[href*=page], a[href*=sort]'), form = $('#sortingform');
                //links.click(function (e) {
                //	form.attr("action", this.href);
                //	$(this).attr("href", "javascript:");
                //	form.submit();
                //});
                $(document).ready(function () {

                    $("#error").removeClass('alert success');
                    $("#error").removeClass("row alert error");


                    var deleteLinkObj;
                    $('.contentDiv').on("click", ".delete-link", function () {
                        deleteLinkObj = $(this);  //for future use
                        var url = $(this).attr('href');
                        $('#delete-dialog').dialog('open');

                        return false; // prevents the default behaviour

                    });
                    $('#delete-dialog').dialog({
                        autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
                        buttons: {
                            "Continue": function () {
                                $.post(deleteLinkObj[0].href, function (data) {
                                    if (data.Success == false) {
                                        $("#error").addClass("alert error");
                                        $("#error").empty().append(data.Message);
                                    }
                                    else {
                                        $("#error").removeClass('alert success');
                                        $("#error").removeClass("alert error");
                                        window.location.href = window.location.href;
                                    }

                                });
                                $(this).dialog("close");
                            },
                            "Cancel": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                });

            </script>
        *@


        <script type="text/javascript">
            //var links = $('a[href*=page], a[href*=sort]'), form = $('#sortingform');
            //links.click(function (e) {
            //	form.attr("action", this.href);
            //	$(this).attr("href", "javascript:");
            //	form.submit();
            //});
            $(document).ready(function () {

                $("#error").removeClass('alert success');
                $("#error").removeClass("row alert error");


                var deleteLinkObj;
                $('#main-content-area').on("click", ".delete-link", function () {
                    deleteLinkObj = $(this);  // Cache

                    var modalDiag = $('#delete-dialog');

                    var url = deleteLinkObj.attr('href');
                    var label = deleteLinkObj.parents('tr:first').find('td:first').text();


                    modalDiag.find('._record_id_num').text(label);

                    modalDiag.modal('show');

                    return false; // prevents the default behaviour

                });



                $('.btn-del-record').on('click', function () {


                   


                    $.post(deleteLinkObj[0].href, function (data) {
                        console.log(data);
                        if (data.Success == false) {
                            $("#error").addClass("alert error");
                            $("#error").empty().append(data.Message);
                        }
                        else {
                            $("#error").removeClass('alert success');
                            $("#error").removeClass("alert error");
                            window.location.href = window.location.href;
                        }

                    });

                });

            });

        </script>
}