﻿@helper Show(IEnumerable<LeadApp.Models.FileViewModel> filelists = null)
{
	<div class="row attachments">
		<div class="col"><h3>Attachments</h3></div>
		<div class="col"><a href="javascript::" id="opendialog" class="badge btn small green">Attach Files</a></div>
		<div class="col">
			@if (filelists == null){
				filelists = new List<LeadApp.Models.FileViewModel>();
			}
			@(new HtmlString(LeadApp.Helpers.CommonHelpers.RenderPartialToString("~/Views/FileUploader/Uploader.cshtml", filelists)))

		</div>


		<script type="text/javascript">
			$(document).ready(function () {

				$('#mydialog').dialog({
					autoOpen: false,
					modal: true,
					closeOnEscape: false,
					draggable: false,
					resizable: false,
					height: 400,
					width: 400,
					position: 'top',
					dialogClass: 'fixed-dialog',
					//open: function (event, ui) {
					//    $(this).load("/FileUploader/UploadFiles?pagename=port");
					//}
				});

				$('#mydialogEdit').dialog({
					autoOpen: false,
					modal: true,
					closeOnEscape: false,
					draggable: false,
					resizable: false,
					height: 400,
					width: 400,
					position: 'top',
					dialogClass: 'fixed-dialog'
				});

				$('#opendialog').click(function () {
					$.ajax({
						url: "/FileUploader/UploadFiles/",
						cache: false,
						type: "GET",
						success: function (data) {
							$("#mydialog").html(data);
							$("#mydialog").dialog('open');
							return false;
						},
						error: function (reponse) {
							alert("error : " + reponse);
						}
					});

				});


			});
		</script>
		<div id="mydialog" title="File Upload" style=""></div>
		<div id="mydialogEdit" title="File Upload" style="overflow: hidden;"></div>
	</div>
}



@helper Grid(Guid RecID)
{
	IEnumerable<LeadApp.Models.FileViewModel> filelists = null;

	<div><a href="javascript::" id="opendialog" class="btn small">Attach Files</a></div>
	if (filelists == null)
	{
		filelists = new List<LeadApp.Models.FileViewModel>();
	}

	var output = LeadApp.Helpers.CommonHelpers.RenderPartialToString("~/Views/FileUploader/Uploader.cshtml", filelists);
	@(new HtmlString(output))



	<script type="text/javascript">
		$(document).ready(function () {

			$('#mydialog').dialog({
				autoOpen: false,
				modal: true,
				closeOnEscape: false,
				draggable: false,
				resizable: false,
				height: 400,
				width: 400,
				position: 'top',
				dialogClass: 'fixed-dialog',
				open: function (event, ui) {
					$(this).load("/FileUploader/UploadFiles?pagename=port");
				}
			});

			$('#mydialogEdit').dialog({
				autoOpen: false,
				modal: true,
				closeOnEscape: false,
				draggable: false,
				resizable: false,
				height: 400,
				width: 400,
				position: 'top',
				dialogClass: 'fixed-dialog'
			});

			$('#opendialog').click(function () {

				$('#mydialog').dialog('open');
			});


		});
	</script>
	<div id="mydialog" title="File Upload" style=""></div>
	<div id="mydialogEdit" title="File Upload" style="overflow: hidden;"></div>
}