﻿@model LeadApp.Models.AppGroup

@{
	ViewBag.Title = "Modify Group";
	List<LeadApp.Models.AppModule> AllModules = ViewBag.ApppModule;
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.GroupId)

	<div class="row">
		@Html.LabelFor(model => model.GroupName, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.GroupName)
			@Html.ValidationMessageFor(model => model.GroupName)
		</div>
		@Html.LabelFor(model => model.isDisable, new { @class = "control-label col-1" })
		<div class="col-2">
			@Html.EditorFor(model => model.isDisable)
			@Html.ValidationMessageFor(model => model.isDisable)
		</div>
	</div>

	


	<h2>Access Rights</h2>
	<table>
		<tr>
			<th>Modules</th>
			<th>Activities</th>
		</tr>
		@*@foreach (var item in Model.AppModuleList) {*@
		@for (int i = 0; i < @AllModules.Count; i++) {	
			<tr>
				<td>
					<label>

						<input type="checkbox" name="SelectedModules[@i].ModuleID" value="@AllModules[i].ModuleID"  @(AllModules[i].isGroupModuleAsigned ? "checked=\"checked\"" : "") />
						@Html.DisplayFor(model => AllModules[i].ModuleName)
					</label>
				</td>
				<td>
					@{
			int j = 0;
			foreach (var subitem in AllModules[i].Rights) {
				string chkd = ((@AllModules[i].RightsModified.Count > 0) ? @AllModules[i].RightsModified[j].isChecked : "");	 
						<label>
							<input type="checkbox" name="SelectedModules[@i].Rights[@j].@subitem.Name" value="@subitem.Name" @chkd />
							@subitem.Name</label>
				j++;
			}
					}
				</td>
			</tr>
		
		}

	</table>
	
	<div class="row">
		<div class="col">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
