﻿@model IEnumerable<LeadApp.Models.AppGroup>

@{
	ViewBag.Title = "App Groups";
	var grid = new WebGrid(Model, canPage : true, rowsPerPage : WebConstants.PagingSize, selectionFieldName : "selectedRow", ajaxUpdateContainerId : "grid-content");
	grid.Pager(WebGridPagerModes.NextPrevious);
}
@section SearchForm {
}
@section TopButtons {
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
}

<div id="grid-content">
	@if (Model.Count() > 0) {
		@grid.GetHtml(tableStyle : "content-table grid",
			headerStyle : "grid-header",
			footerStyle : "grid-footer",
			alternatingRowStyle : "alt-row",
			selectedRowStyle : "select-row",
			mode : WebGridPagerModes.All,
			firstText : "<< First",
			previousText : "Prev",
			nextText : "Next",
			lastText : "Last >>",

			columns : grid.Columns(
			grid.Column(columnName : "GroupName", header : "Group Name"),
			grid.Column(columnName : "isDisable", header : "Disable"),
			grid.Column("", header : "Actions", style : "grid-actions", format : @<text>
		@Html.ActionLink("Edit", "Edit", new { id = item.GroupId }, new { @class = "grid-edit" })
		@Html.ActionLink("Delete", "Delete", new { id = item.GroupId }, new { @class = "grid-delete delete-link" })
		</text>)
 ))
	} else {
		<div class="alert info">No Record Found</div>
	}

</div>

@DeleteHelper.Show()