﻿@model LeadApp.Models.LeadPhone

@{
    ViewBag.Title = "Create";

    ViewBag.CssClass = "no-bg";

} 

<div class="container-md">

    <div class="panel panel-form">

        <div class="title-wrapper">
            <h2>Create Lead</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <label class="legend">Vehicle Information </label>
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ManufactureId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("ManufactureId")
                            @Html.ValidationMessageFor(model => model.ManufactureId)

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleModel, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehicleModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleYear, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehicleYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehicleYear, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VinNo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VinNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VinNo, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>


                <label class="legend">Customer Information</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                      

                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    
                </div>



                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                   

                </div>






                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InitialAmount, htmlAttributes: new { @class = "control-label" })

                            <div class="input-group input-group-lg">
                                <div class="input-group-addon">
                                    <span class="input-group-text">$</span>
                                </div>
                                @Html.EditorFor(model => model.InitialAmount, new { htmlAttributes = new { @class = "form-control" } })

                            </div>

                            @Html.ValidationMessageFor(model => model.InitialAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(q => q.Comments)
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col">
						<div class="form-group">
								<button class="btn btn-primary btn-block">Create Lead</button>
								@* <input type="submit" value="Create Lead"  />*@
						</div>
					</div>
				</div>
                
            </div>
        }

        <div class='btn-back-wrapper'>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

