﻿@model LeadApp.Models.LeadPhone


@*
    Status ID list.
    1	Lead Generated
    2	Pending Manager Approval
    3	Disqualified
    4	Manager Approved
    5	Client Response
    7	Rejected
    10	Offer Accepted
    11	Lead Closed
*@

<style>
    loading {
        position: fixed;
        z-index: 1;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        background: url('loader.gif') no-repeat center center;
        background-size: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.69);
    }
</style>

@{
    ViewBag.Title = "Lead Details of " + ViewBag.LeadPhoneId;
    ViewBag.CssClass = "no-bg lead-detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var LastFollowUp = (IEnumerable<LeadApp.Models.LeadPhoneFollowUp>)ViewBag.LastFollowUp;
    var Rejected = LastFollowUp.Where(q => q.StatusId == 7);
    var LeadApproved = LastFollowUp.Where(q => q.StatusId == 11);
    var LeadDisqualified = LastFollowUp.Where(q => q.StatusId == 3);
    bool IsLeadApproved = false;
    if (LeadApproved.Any())
    {
        IsLeadApproved = true;
    }
    bool IsRejected = false;
    if (Rejected.Any())
    {
        IsRejected = true;
    }
    bool IsDisqualified = false;
    if (LeadDisqualified.Any())
    {
        IsDisqualified = true;
    }


}

<div class="modal fade" id="myModalNoteonly" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Add Note</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <div id="dnote"></div>
                <label class="control-label">Enter Note</label>
                <textarea placeholder="Enter Note" id="gnote"></textarea><br />
                @*<input type="button" value="Add note" class="btnnoteonly btn btn-gmail bg-cst-light-pink">*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn _btn-secondary wide" data-dismiss="modal">Close</button>
                <button class="btnnoteonly btn-primary wide"><i class="fa fa-commenting" aria-hidden="true"></i>Add Note</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalSalePrice" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Add Sale Price</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <div id="dsale"></div>
                <label class="control-label">Enter Sale Price</label>
                <input type="text" placeholder="Enter Sale Price" id="txtSalePrice" /><br />
                @*<input type="button" value="Add note" class="btnnoteonly btn btn-gmail bg-cst-light-pink">*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn _btn-secondary wide" data-dismiss="modal">Close</button>
                <button class="btnSale btn-primary wide"><i class="fa fa-money" aria-hidden="true"></i>Add Sale Price</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalNote" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                @if (Auth.GroupID == 6)
                {
                    <h3 class="modal-title">Client's Response</h3>
                }
                else if (Auth.GroupID == 5)
                {
                    <h3 class="modal-title">Approve Response</h3>
                }
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>

            @if (Auth.GroupID == 6)
            {
                <div class="modal-body">
                    <div id="resmsg"></div>
                    <input type="hidden" value="amountask" id="mode" name="mode" />
                    <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />

                    <label class="control-label">Amount Demand</label>
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" placeholder="Amount Demand" id="amount" name="amount" />
                    </div>


                    <label class="control-label">Remarks</label>
                    <textarea placeholder="Remarks" id="bnote"></textarea><br />
                    @*<input type="button" value="Add note" class="btnnote btn btn-gmail bg-cst-light-pink">*@
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn _btn-secondary wide" data-dismiss="modal">Close</button>
                        <button class="btnnote btn-primary wide"><i class="fa fa-commenting" aria-hidden="true"></i>Add Client Response</button>
                    </div>
            }
            else if (Auth.GroupID == 5)
            {

                <div class="modal-body">

                    <div id="resmsg"></div>
                    <input type="hidden" value="amountoffered" id="mode" name="mode" />
                    <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />

                    <label class="control-label">Amount to Offer</label>
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" placeholder="Amount to Offer" id="amount" name="amount" />
                    </div>
                    <br />
                    <label class="control-label">Remarks</label>
                    <textarea placeholder="Remarks" id="bnote"></textarea><br />
                    @*<input type="button" value="Add note" class="btnnote btn btn-gmail bg-cst-light-pink">*@

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn _btn-secondary wide" data-dismiss="modal">Close</button>
                        <button class="btnnote btn-primary wide"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Approve Response</button>
                    </div>

            }

        </div>
    </div>
</div>

<div class="modal fade" id="myModalApproval" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Approve Lead</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <div id="price"></div>
                <div id="dnote2"></div>
                <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />

                <label class="control-label">Enter Note</label>
                <textarea placeholder="Enter Note" id="nnote"></textarea><br />

                <label class="control-label">Enter Place of Pickup</label>
                <textarea name="PlaceofPickup" id="placeofpickup" placeholder="Enter Place of pickup"></textarea><br />
                <input type="hidden" value="@ViewBag.LatestOfferedPrice" name="LatestOfferedAmount">

                <span>Latest Offered Price:  <b class="h3">$@ViewBag.LatestOfferedPrice</b></span><br />
                @*<span>Latest Asking Price:  <b>$@ViewBag.LatestAskingPrice</b></span>*@

                <label class="label-control">Amount Accepted</label>
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" placeholder="Amount accepted" id="amountaccepted" name="amountaccepted" />
                </div>


                @*<input type="button" value="Approve" class="btnapprove btn btn-gmail bg-cst-light-pink">*@

            </div>

            <div class="modal-footer">
                <button type="button" class="btn _btn-secondary" data-dismiss="modal">Close</button>
                <button class="btnapprove btn-primary"><i class="fa fa-thumbs-up"></i> Approve</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalRejected" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h3 class="modal-title">Reject Lead</h3>
				<a href="#" class="close" data-dismiss="modal">&times;</a>                
            </div>
            <div class="modal-body">
                <div id="dnote"></div>
                <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />
                <label class="control-label">Remarks</label>
                <textarea name="Note" placeholder="Remarks" id="rnote"></textarea><br />

            </div>

            <div class="modal-footer">
                <button type="button" class="btn _btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btnrejected btn btn-primary"><i class="fa fa-ban" aria-hidden="true"></i> Reject Lead</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalDisqualify" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Disqualify Lead</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div id="dnoted"></div>
                <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />
                <label class="control-label">Remarks</label>
                <textarea name="Note" placeholder="Remarks" id="disnote"></textarea><br />
                @*<input type="button" value="Disqualify" class="btndisqualifies btn btn-gmail bg-cst-light-pink">*@
            </div>

            <div class="modal-footer">
                <button type="button" class="btn _btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btndisqualifies btn btn-primary"><i class="fa fa-ban" aria-hidden="true"></i> Disqualify Lead</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalVarify" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

              
                    <h3 class="modal-title">Varification</h3>
              
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>

          
            <div class="modal-body">

                <input type="hidden" value="@ViewBag.LeadPhoneId" name="id" /><br />
                <label class="control-label">Place of Pickup</label>
                <textarea name="PlaceofPickup" id="txtplaceofpickup"></textarea><br />
                <label class="label-control">Vehicle Year</label>
                <input type="text" id="txtYear" name="Year" />
                <label class="label-control">Phone</label>
                <input type="text" id="txtPhone" name="Phone" />
                <label class="label-control">Email</label>
                <input type="text" id="txtEmail" name="Email" />
                <label class="label-control">City</label>
                <input type="text" id="txtCity" name="City" />
                <label class="label-control">Zip Code</label>
                <input type="text" id="txtZipCode" name="City" />
                <label class="label-control">Vin No</label>
                <input type="text" id="txtVinNo" name="VinNo" />
              
            </div>

                <div class="modal-footer">
                    <button type="button" class="btnVarify btn _btn-secondary wide">Verify</button>
                    <button type="button" class="btn _btn-secondary" data-dismiss="modal">Close</button>
                </div>
            
           

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="panel">
            <div class="row">
                <div class="col-md-5">
                    <div class="control-panel">
                        @*<h2>Lead Detail #@ViewBag.LeadPhoneId</h2>*@
                        <h2>@ViewBag.SubmittedBy</h2>
                    </div>

                </div>


                <div class="col">
                    <div class="control-panel text-right">

                        @if (Auth.GroupID == 6)
                        {
                            if (IsLeadApproved == false && IsRejected == false && IsDisqualified == false)
                            {

                                if (ViewBag.IsApproveButtonVisible == false)
                                {

                                    <button id="btnapprove1" class="btn btn-success" title="Approve Lead"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                    <button id="btnrejected1" class="btn btn-danger" title="Reject Lead"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>

                                }
                            }
                        } @*// if auth*@

                        @if (IsLeadApproved == false && IsRejected == false && IsDisqualified == false)
                        {

                            if (ViewBag.IsLeadDisqualifyButtonVisible == true)
                            {
                                <button id="btndisqualify" class="btn-action-disqualify-diag  _icon btn btn-warning" title="Disqualify Lead"><i class="fa fa-ban" aria-hidden="true"></i></button>
                            }


                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div><!-- row -->

<div class="row">
    <!--Left Container-->
    <div class="col-md-7">
        <div class="panel full-height">
            @*<h2>Lead Detail #@ViewBag.LeadPhoneId</h2>*@


            <div class="row">
                <div class="col">
                    <div class="info-wrapper">

                        <h3 class="legend">Vehicle Information</h3>
                        <ul>
                            <li><p><strong>Make:</strong>@Model.Manufacturer.Name</p></li>
                            <li><p><strong>Model:</strong>@Model.VehicleModel</p></li>
                            <li><p><strong>Year:</strong> @Model.VehicleYear</p></li>
                            <li><p><strong>Mielage:</strong>@Model.Mileage</p></li>
                            <li> <p><strong>Condition:</strong>@Model.Comments</p></li>
                        </ul>

                    </div> <!-- info wrapper -->
                </div>

                <div class="col">
                    <div class="info-wrapper">

                        <!---------- PERSONAL INFORMATION -------------------->
                        <h3 class="legend">Personal Information</h3>
                        <ul>
                            <li><p><strong>Full Name:</strong> @Model.Manufacturer.Name</p></li>
                            <li><p><strong>Email:</strong>@Model.Email</p></li>
                            <li><p><strong>Phone:</strong>@Model.Phone</p></li>
                            <li><p><strong>City:</strong>@Model.City</p></li>
                            <li><p><strong>Zip:</strong>@Model.ZipCode</p></li>
                            <li><p><strong>Comments:</strong>@Model.Comments</p></li>
                        </ul>

                    </div>
                    <!-- infowrapper -->
                </div>

            </div> <!-- row-->


            <hr />

            <div class="bid-wrapper">
                <div class="row">
                    <div class="col">
                        <div>
                            <h3 class="legend">Initial Demand:</h3>
                            <p class="h1"><strong><span class="currency-symbol">$</span>@Model.InitialAmount</strong></p>
                        </div>
                    </div>


                    @if (ViewBag.LastFollowUpPrice != null)
                    {
                        <div class="col">
                            <div>
                                <h3 class="legend">Last Offered:</h3>
                                <p class="h1"><strong><span class="currency-symbol">$</span>@ViewBag.LastFollowUpPrice</strong></p>
                            </div>
                        </div>
                    }

					@if (Model.SalesPrice != null)
					{
						<div class="col">
							<div>
								<h3 class="legend">Selling Price:</h3>
								<p class="h1"><strong><span class="currency-symbol">$</span>@Model.SalesPrice</strong></p>
							</div>
						</div>
					}
                </div>
            </div> <!-- Bid wrapper-->




            <div class="btn-back-wrapper">@Html.ActionLink("Back to List", "Index")</div>
            <div class="btn-wrapper">
                @if (Auth.GroupID == 6)
            {
                if (IsLeadApproved == false && IsRejected == false && IsDisqualified == false)
                {

                    if (ViewBag.IsApproveButtonVisible == false)
                    {

                            <button id="btnapprove" class="btn btn-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve Lead</button>
                            <button id="btnrejected" class="btn btn-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Reject Lead</button>


                        }
                    }
                }


                @if (IsLeadApproved == false && IsRejected == false && IsDisqualified == false)
                {

                    if (ViewBag.IsLeadDisqualifyButtonVisible == true)
                    {
                        <button id="btndisqualify_large" class="btn-action-disqualify-diag _icon btn btn-warning" title="Disqualify Lead"><i class="fa fa-ban" aria-hidden="true"></i>Disqualify Lead</button>
                    }


                }

            </div> <!-- Button Wrapper -->



        </div><!--panel-->
    </div>
    <!--Left Container Ends-->
    <!-- Right Container -->
    <div class="col">

        <div class="panel full-height">
            <div class="row">
                <div class="col-md-6">
                    <h4>Leads History &amp; Activities</h4>
                </div>
                <div class="col-md-6 text-right">

                    <button id="btnnoteonly" class="_icon" title="Add Note">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        Add Note
                    </button>
                    @if (IsLeadApproved == false && IsRejected == false && IsDisqualified == false)
                    {


                        if (Auth.GroupID == 6)
                        {
                            if (Model.StatusId == 4)
                            {
                                <button id="btnnote" class="_icon" title="Add Client's Response'">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    Add Client's Response
                                </button>
                            }

                        }
                        else if (Auth.GroupID == 5)
                        {
                            if (Model.StatusId == 2)
                            {
                                <button id="btnnote" class="_icon" title="Add New Offer">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                    Add New Offer
                                </button>
                            }
                        }

                        @*if (ViewBag.IsLeadDisqualifyButtonVisible == true)
                            {
                                <button id="btndisqualify" class="_icon" title="Disqualify Lead">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    Disqualify Lead
                                </button>
                            }*@
                        @*}
                            }
                            else if (Auth.GroupID == 5)
                            {
                                if (ViewBag.IsNoteButtonVisible == true)
                                {
                                    <button id="btnnote" class="_icon">
                                        <i class="fa fa-commenting" aria-hidden="true"></i>
                                        Add Note
                                    </button>
                                }
                            }*@

                    }
                    @if (ViewBag.isSalePriceButtonVisible == true)
                    {
                        <button id="btnSalePrice" class="_icon" title="Add Sale Price">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Add SalePrice
                        </button>
                    }
                    @if (Auth.GroupID == 7 && ViewBag.IsVarifyButtonVisible==true)
                    {
                        <button id="btn_Varify" class="_icon" title="Verify Lead">
                            <i class="fa fa-dedent" aria-hidden="true"></i>
                            Verify Lead
                        </button>
                    }
                </div>
            </div>

            <div class="follow-up-wrapper">
                @if (LastFollowUp.Any())
                {

                    <ul class="response-note">

                        @foreach (var item in LastFollowUp)
                        {
                            // Lead Generated
                            if (item.StatusId == 1)
                            {

                                <li class="lead-follow lead-generated">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                </li>


                            }
                            @*else if (item.StatusId == 2)
                                {
                                    <div><b>@item.StatusText</b></div>
                                    <div>@item.FollowedUpDate</div><br />
                                    @*<div>Asked $@item.LatestAskingPrice, negotiation in process </div><br />*@
                            //}

                            // Disqualified
                            else if (item.StatusId == 3)
                            {

                                <li class="lead-follow lead-disqualified">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                </li>

                            }

                            else if (item.StatusId == 4)
                            {

                                <li class="lead-follow lead-approved">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                    <p>Asked <span class="lead-offer">$@item.LatestOfferedAmount</span>, <span class="nego">negotiation in process</span></p>
                                    <p>@item.LatestComment</p>
                                </li>


                            }

                            // Client Response
                            else if (item.StatusId == 5)
                            {

                                <li class="lead-follow lead-response alt">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                    <p>Asked <span class="lead-offer">$@item.LatestAskingPrice</span>, <span class="nego">negotiation in process</span> </p>
                                    <p>@item.LatestComment</p>
                                </li>

                            }

                            // Rejected
                            else if (item.StatusId == 7)
                            {
                                <li class="lead-follow lead-reject">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                </li>
                            }

                            // Offer Accepted
                            else if (item.StatusId == 10)
                            {

                                <li class="lead-follow lead-accept">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span></p>
                                    <p>Offered Accepted, <span class="lead-offer accept">$@Model.AmountAccepted </span></p>
                                </li>
                            }

                            // Lead Closed
                            else if (item.StatusId == 11)
                            {
                                <li class="lead-follow lead-close alt">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                </li>
                            }

                            // NULL in DB dont know!
                            else if (item.StatusId == 12)
                            {

                                <li class="lead-follow">
                                    <p><strong>@item.StatusText</strong></p>
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                    <p>@item.LatestComment</p>
                                </li>

                            }
                            else if (item.StatusId == 14)
                            {

                                <li class="lead-follow">
                                    <p><strong>@item.StatusText</strong></p>
                                  
                                    <p><span class="date-update"> @item.FollowedUpDate</span> by <span class="lead-user">@item.AppUser.UserName</span></p>
                                    <p>@item.LatestComment</p>
                                    <p><span class="lead-offer accept"><strong>@Model.SalesPrice</strong></span></p>
                                </li>

                            }
                        }

                    </ul>

                }
            </div> <!-- follow up-->

        </div>

    </div>

    <!-- Right Container Ends -->


</div> <!-- row -->

<div>
    @*@Html.DisplayFor(e =>e.Labelfor)*@
</div>





<script type="text/javascript">

    $('#btnnoteonly').on("click", function () {
        $("#myModalNoteonly").appendTo("body").modal('show');
    });
    $('#btn_Varify').on("click", function () {

        //var SalePrice=$("#txtSalePrice").val();

        //show_loader();
        $.ajax({
            url: "@Url.Action("VarifyLead", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if(data!=null)
                {
                    $("#txtManufacturer").val(data.Manufacturer);
                    $("#txtplaceofpickup").val(data.PlaceOfPickups);
                    $("#txtAmountaccepted").val(data.AmountAccepted);
                    $("#txtPhone").val(data.Phone);
                    $("#txtEmail").val(data.Email);
                    $("#txtCity").val(data.city);
                    $("#txtZipCode").val(data.ZipCode);
                    $("#txtVinNo").val(data.VinNo);
                    $("#txtSalesPrice").val(data.SalesPrice);
                    $("#txtModel").val(data.VehicleModel);
                    $("#txtYear").val(data.VehicleYear);
         
                }


        },
        error: function (err) {

        }
        });

        $("#myModalVarify").appendTo("body").modal('show');
    });
    $(".btnVarify").on("click", function () {

        $(this).attr("disabled", true);
        show_loader();

        $.ajax({
            url: "@Url.Action("VarifiedLead", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId'  + "&PlaceofPickup=" + $("#txtplaceofpickup").val()  + "&VehicleYear=" + $("#txtYear").val() + "&City=" +$("#txtCity").val() + "&Phone="+ $("#txtPhone").val() + "&VinNo="+ $("#txtVinNo").val() + "&Email="+ $("#txtEmail").val() + "&ZipCode="+ $("#txtZipCode").val(),
            type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        @*data:JSON.stringify({'Vm':a,"id":@ViewBag.LeadPhoneId}),*@
        success: function (data) {
            window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';


        },
        error: function (err) { show_loader(0); }
    });
    });
    $('#btnSalePrice').on("click", function () {
        $("#myModalSalePrice").appendTo("body").modal('show');
    });

    $('#btnnote').on("click", function () {
        $("#myModalNote").appendTo("body").modal('show');
    });

    $('#btnapprove').on("click", function () {
        $("#myModalApproval").appendTo("body").modal('show');
    });

    $('#btnrejected').on("click", function () {

        $("#myModalRejected").appendTo("body").modal('show');
    });

    $('#btnapprove1').on("click", function () {
        $("#myModalApproval").appendTo("body").modal('show');
    });

    $('#btnrejected1').on("click", function () {
        $("#myModalRejected").appendTo("body").modal('show');
    });

    $('.btn-action-disqualify-diag ').on("click", function () {
        $("#myModalDisqualify").appendTo("body").modal('show');
    });

    $('.btnapprove').on("click", function () {
        $(this).attr("disabled", true);
        var c = $("#amountaccepted").val();

        if (c.length > 0) {

            show_loader();

            $.ajax({
                url: "@Url.Action("ApproveLead", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId' + "&Note=" + $("#nnote").val() + "&AmountAccepted=" + $("#amountaccepted").val() + "&PlaceofPickup=" + $("#placeofpickup").val() + "&LatestOfferedPrice=" + '@ViewBag.LatestOfferedPrice',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data == "2") {
                        $(".btnapprove").attr("disabled", false);
                        $("#dnote2").html("The accepted amount cannot be greater the offered amount");
                        
                    }
                    else {
                        window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';
                    }

                    show_loader(false);
                },
                error: function (err) {
                    show_loader(false);
                }
            });
        }
        else {
            $("#dnote2").html("Amount cannot be empty");
            $(this).attr("disabled", false);
        }
    });

    $('.btnSale').on("click", function () {
        
        $(this).attr("disabled", true);

        var SalePrice=$("#txtSalePrice").val();

        if (SalePrice.length>0) 
        {
            $.ajax({
                url: "@Url.Action("AddSalePrice", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId',
                type: "POST",
                dataType: "json",
                data:JSON.stringify({'SalePrice':SalePrice,"id":@ViewBag.LeadPhoneId}),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
         
               
                    show_loader(false);
                },
                error: function (err) {
                    show_loader(false);
                }
        });
            window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';
        }
        else
        {
            $("#dsale").html("SalesPrice cannot be empty");
            $(this).attr("disabled", false);
        }


     
      
    });
    $('.btnrejected').on("click", function () {
        $(this).attr("disabled", true);


        show_loader();
        $.ajax({
            url: "@Url.Action("RejectLead", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId' + "&Note=" + $("#rnote").val(),
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';
                show_loader(0);
            },
            error: function (err) { show_loader(0); }
        });
    });


    $('.btndisqualifies').on("click", function () {
        $(this).attr("disabled", true);


        show_loader();
        $.ajax({
            url: "@Url.Action("DisqualifyLead", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId' + "&Note=" + $("#disnote").val(),
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';

                show_loader(0);

            },
            error: function (err) {
                show_loader(0);
            }
        });
    });


    $('.btnnote').on("click", function () {
        $(this).attr("disabled", true);
        var c = $("#amount").val();

        if (c.length > 0) {


            show_loader();
            $.ajax({
                url: "@Url.Action("AddNote", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId' + "&Note=" + $("#bnote").val() + "&Mode=" + $("#mode").val() + "&Amount=" + $("#amount").val(),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data == "4") {
                        $("#resmsg").html("The amount cannot be greater the Asked amount by the customer");
                        $('.btnnote').attr("disabled", false);
                    }
                    else {
                        window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';
                    }

                    show_loader(0);

                },
                error: function (err) {
                    show_loader(0);
                }
            });
        }
        else {
            $("#resmsg").html("Amount cannot be empty");
            $(this).attr("disabled", false);
        }
    });





    $('.btnnoteonly').on("click", function () {
        $(this).attr("disabled", true);

        show_loader();

        $.ajax({
            url: "@Url.Action("AddNoteOnly", "LeadPhone")?id=" + '@ViewBag.LeadPhoneId' + "&Note=" + $("#gnote").val(),
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                window.location.href = '/LeadPhone/Detail/' + '@ViewBag.LeadPhoneId';
                show_loader(0);

            },
            error: function (err) { show_loader(0); }
        });
    });




    function show_loader($mode) {
        $mode = $mode || false;

        if ($mode) {
            $('body').addClass('show-loading')
        } else {
            $('body').removeClass('show-loading');
        }
    }


</script>



