﻿@model IEnumerable<LeadApp.Models.LeadPhoneVM>

@{

    ViewBag.Title = "Lead";
    ViewBag.CssClass = "no-bg ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Auth.GroupID == 6)
{
    @section TopBarArea
    {
        <div class="control-bar">@Html.ActionLink("Add Lead", "Create", "LeadPhone", new { @class = "btn btn-primary btn-large wide" })</div>
    }



}
<input type="hidden" value="@ViewBag.StatusId" id="statusId" />
<div class="row">
    <div class="col">
      
        <div class="panel">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.LeadPhoneId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Manufacturer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VehicleYear)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VinNo)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.AskingPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>



                                <th></th>
                            </tr>
                        </thead>
                        @*<tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>
                                            @Html.DisplayFor(model => item.LeadPhoneId)
                                        </th>
                                        <td>
                                            @if (item.Manufacturer != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                                            }

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleYear)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.InitialAmount)
                                        </td>



                                        <td>

                                            @Html.ActionLink("Details", "Detail", new { id = item.LeadPhoneId })

                                        </td>
                                    </tr>
                                }
                            </tbody>*@
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
   
    function loadData() {
        $('#datatable').dataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ajax": {
                "url": "/LeadPhone/loadData",
                "type": "GET",
                "datatype": "json"

            },
            "columns": [
                  { "data": "LeadPhoneId", "autowidth": true },
                  { "data": "Manufacturer", "autowidth": true },
                  { "data": "VehicleYear", "autowidth": true },
                  { "data": "VinNo", "autowidth": true },
                  { "data": "Name", "autowidth": true },
                  { "data": "Email", "autowidth": true },
                  { "data": "AskingPrice", "autowidth": true },
                     { "data": "Status", "autowidth": true },
                     {
                         "sName": "Details",
                         "bSearchable": false,
                         "bSortable": false,
                         "fnRender": function (oObj) {
                             // oObj.aData[0] returns the RoleId
                             return "<a href='/Details?id="
                                 + oObj.aData[0] + "'>Details</a>";
                         }
                     }
            ]
        });
    }
    function loadPostData(statusid) {
        $('#datatable').dataTable({
          
            "serverSide": true,
            "filter": true,
                "ajax": {
                "url": "/LeadPhone/Index?statusid=" + statusid ,
                "type": "POST",
                "datatype": "json"

            },
            aoColumns: [
                  { "data": "LeadPhoneId","name":"LeadPhoneId", "autowidth": true },
                  { "data": "Manufacturer", "name": "Manufacturer", "autowidth": true },
                  { "data": "VehicleYear", "name": "VehicleYear", "autowidth": true },
                  { "data": "VinNo", "name": "VinNo", "autowidth": true },
                  { "data": "Name", "name": "Name", "autowidth": true },
                  { "data": "Email", "name": "Email", "autowidth": true },
                  { "data": "AskingPrice", "name": "AskingPrice", "autowidth": true },
                    { "data": "Status", "name": "Status", "autowidth": true },
                      {
                          data: null,
                          className: "center",
                          //defaultContent: '<a href="" class="editor_edit">Details</a>',

                          //"sName": "Details",
                          //"bSearchable": false,
                          //"bSortable": false,
                          "mRender": function (oObj) {
                              // oObj.aData[0] returns the RoleId
                              return "<a href='/LeadPhone/Detail?id="
                                  + oObj.LeadPhoneId + "'>Details</a>";
                          }
                      }
            ],
        
            "order": [0, "asc"],
            "processing": true,
            "language": {
            "processing": "Processing....Please Wait"
            }
        });
    }
    $(document).ready(function () {
        var statusid = $("#statusId").val();

        if (statusid == '0') {
            loadData();
        }
        else {


            loadPostData(statusid);
        }

    });




</script>

