﻿@model IEnumerable<LeadApp.Models.ProfitLossVM>

@{
    ViewBag.Title = "Profit_Loss";
}

<h2>Profit_Loss</h2>

<div style="width:90%;margin:0 auto">
    <div style="width:90%;margin:0 auto">
        <div style="background-color:lightgray;padding:20px">
            <h2>Search Panel</h2>
            <div>
                @using (Html.BeginForm("myaction", "LeadPhone", FormMethod.Get))
                { <div>Start Date:<input type="text" class="sysDateField" name="StartDate" id="StartDate" /></div><br />
                <div>End Date:<input type="text" class="sysDateField" name="EndDate" id="EndDate" /></div><br />
                <div><input type="button" name="btnsubmit" id="btnsubmit" value="Search" /></div><br /><br />

                }
               
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">

        <div class="panel">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="ProfitLossTable" class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.LeadPhoneId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Manufacturer)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AmountAccepted)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.SalesPrice)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>



                            </tr>
                        </thead>
                        @*<tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>
                                            @Html.DisplayFor(model => item.LeadPhoneId)
                                        </th>
                                        <td>
                                            @if (item.Manufacturer != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                                            }

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleYear)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.InitialAmount)
                                        </td>



                                        <td>

                                            @Html.ActionLink("Details", "Detail", new { id = item.LeadPhoneId })

                                        </td>
                                    </tr>
                                }
                            </tbody>*@
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<script>


    $(document).ready(function () {
        $.datepicker.setDefaults({
            dateFormat: "dd M yy"
        });
        $(".sysDateField").datepicker();

        $("#btnsubmit").click(function () {
            $("#ProfitLossTable").dataTable().fnDestroy()
            var startDate = $("#StartDate").val();
            var enddate = $("#EndDate").val();
            $('#ProfitLossTable').dataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,


                "orderMulti": false,

                "ajax": {
                    "url": "/LeadPhone/loadProfitLossData?startdate=" + startDate +"&EndDate="+enddate,
                    "type": "POST",
                    "datatype": "json"

                },

                "aoColumns": [
                      { "data": "LeadPhoneId", "name": "LeadPhoneId", "autowidth": true },
                      { "data": "Manufacturer", "name": "Manufacturer", "autowidth": true },
                      { "data": "Email", "name": "Email", "autowidth": true },
                      { "data": "Name", "name": "Name", "autowidth": true },
                      { "data": "AmountAccepted", "name": "AmountAccepted", "autowidth": true },
                      { "data": "SalesPrice", "name": "SalesPrice", "autowidth": true },
                      { "data": "Status", "name": "Status", "autowidth": true }

                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData["Status"] == 'Loss') {
                        $('td', nRow).css('background-color', '#f2dede');
                    }
                    else if (aData["Status"] == "Profit") {
                        $('td', nRow).css('background-color', '#dff0d8');
                    }
                    else if (aData["Status"] == 'N/A') {
                        $('td', nRow).css('background-color', 'white');
                    }
                    else {
                        $('td', nRow).css('background-color', '#f2dede');
                    }
                }

            });

            
        });
        $('#ProfitLossTable').dataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
          

            "orderMulti": false,

            "ajax": {
                "url": "/LeadPhone/loadProfitLossData",
                "type": "POST",
                "datatype": "json"

            },
         
            "aoColumns": [
                  { "data": "LeadPhoneId","name":"LeadPhoneId", "autowidth": true },
                  { "data": "Manufacturer", "name": "Manufacturer", "autowidth": true },
                  { "data": "Email", "name": "Email", "autowidth": true },
                  { "data": "Name", "name": "Name", "autowidth": true },
                  { "data": "AmountAccepted", "name": "AmountAccepted", "autowidth": true },
                  { "data": "SalesPrice", "name": "SalesPrice", "autowidth": true },
                  { "data": "Status", "name": "Status", "autowidth": true }

            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData["Status"] == 'Loss') {
                    $('td', nRow).css('background-color', '#f2dede');
                }
                else if (aData["Status"] == "Profit") {
                    $('td', nRow).css('background-color', '#dff0d8');
                }
                else if (aData["Status"] == 'N/A') {
                    $('td', nRow).css('background-color', 'white');
                }
                else {
                    $('td', nRow).css('background-color', '#f2dede');
                }
            }

        });

     
    });
</script>