﻿@model LeadApp.Models.LeadPhone
@{
    ViewBag.Title = "VarifyView";
}

<h2>VarifyView</h2>

@using (Html.BeginForm())
{   @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LeadPhoneId)
    <table>
        <tr>
            <td>@Html.LabelFor(model => model)</td>
            <td>
                @Html.EditorFor(model => model)<br />
                @Html.ValidationMessageFor(model => model)
                <input type="hidden" value="@ViewBag.leadId" name="id" />
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.VehicleYear)</td>
            <td>
                @Html.EditorFor(model => model.VehicleYear)<br />
                @Html.ValidationMessageFor(model => model.VehicleYear)
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.VinNo)</td>
            <td>
                @Html.EditorFor(model => model.VinNo)<br />
                @Html.ValidationMessageFor(model => model.VinNo)
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Manufacturer)</td>
            <td>
                @Html.EditorFor(model => model.Manufacturer)<br />
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Email)</td>
            <td>
                @Html.EditorFor(model => model.Email)<br />
                @Html.ValidationMessageFor(model => model.Email)
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Status)</td>
            <td>
                @Html.EditorFor(model => model.Status)<br />
                @Html.ValidationMessageFor(model => model.Status)
            </td>

        </tr>
    </table>


    <div class="row">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
