﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConstants.AppTitle</title>
    @Styles.Render("~/Content/front")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
				<div class="navbar-brand"></div>               
            </div>
        </div>
    </div>
    <div class="container body-content">
		<div class="jumbotron green">
			<p class="lead">@ViewBag.Title</p>
		</div>

				@RenderBody()
        <hr />
        <footer>
            <p>&copy;  @DateTime.Now.Year @ViewBag.Title. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
