﻿@{
    dynamic TopButtons = null;
    if (IsSectionDefined("TopButtons"))
    {
        TopButtons = RenderSection("TopButtons", false).ToHtmlString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConstants.AppTitle</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/themes/base/all.css">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CustomScripts")

    <link href="~/Content/DataTable/css/datatables.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ajaxStart(function () {
            //Show your progressbar here
            $(".data-loader").show();
        }).ajaxStop(function () {
            //Hide your progressbar here
            $(".data-loader").hide();
        });


        function resizeIFrame() {
            var frame = getElement("report-frame");
            frame.height = document.body.offsetHeight + 80 + "px";
            frame.width = document.body.offsetWidth + 60 + "px";
        }
        function getElement(aID) {
            return (document.getElementById) ? parent.document.getElementsByClassName(aID) : parent.document.all[aID];
        }
    </script>

    <!--Additional Add-ons Script-->
    <!--  Script for IE 8 and Lower  -->
    <!--[if lt IE 9]>
    <script src="assets/script/css3-mediaqueries.js" type="text/javascript"></script>
    <script src="assets/script/ie-fix.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lte IE 7]>
    <![endif]-->


    @{
        if (ViewBag.CssClass != null)
        {
            string CssClass = "";
        }
        else
        {
            string CssClass = ViewBag.CssClass;
        }
    }
</head>
<body class="@ViewBag.CssClass">

    <div id="main-wrapper">

        <!--Side Bar -->
        <div id="sidebar">
            <div class="_sidebar">
                <h1 class="headerLogo">
                    <a href="#">
                        <img src="/Content/images/leadapp-logo.png" alt="@WebConstants.AppTitle" title="@WebConstants.AppTitle" />
                    </a>
                    <span>@WebConstants.AppTitle</span>
                </h1>
            </div>
            <div class="menu-wrapper">
                @Html.Raw(Auth.GetNavLink())

                @*<ul>
                        <li class="home-dashboard active" title="Dashboard"><a href="@Url.Action("Index", "Home")"><span>Dashboard</span></a></li>
                        <li class="mod-quote" title="Quotation"><a href="@Url.Action("Index", "Quotation")"><span>Quotation</span></a></li>
                        <li class="mod-job" title="Jobs"><a href="@Url.Action("Index", "Job")"><span>Jobs</span></a></li>
                        <li class="mod-claim" title="Claim"><a href="@Url.Action("Index", "Claim")"><span>Claim</span></a></li>
                        <li class="mod-procurement" title="Procurement"><a href="@Url.Action("Index", "Procurement")"><span>Procurement</span></a></li>
                        <li class="mod-billing" title="Billing"><a href="@Url.Action("Index", "Billing")"><span>Billing</span></a></li>
                        <li class="mod-task" title="Task"><a href="@Url.Action("Index", "Task")"><span>Task</span></a></li>
                        <li class="mod-other-agency" title="Other Agency"><a href="@Url.Action("Index", "OtherAgency")"><span>Other Agency</span></a></li>
                        <li class="mod-reports" title="Reports"><a href="@Url.Action("Index", "Reports")"><span>Reports</span></a></li>
                    </ul>
                    <div class="expand-ctrl-box hz"><span class="expand-ctrl"></span></div>
                    <ul class="secondary">
                        <li class="mod-port" title="Port Profile"><a href="@Url.Action("Index", "Port")"><span>Port Profile</span></a></li>
                        <li class="mod-terminal" title="Terminal"><a href="@Url.Action("Index", "Terminal")"><span>Terminal</span></a></li>
                        <li class="mod-vessel" title="Vessel Profile"><a href="@Url.Action("Index", "Vessel")"><span>Vessel Profile</span></a></li>
                        <li class="mod-service" title="Port Services/Tariff"><a href="@Url.Action("Index", "PortServicesTariff")"><span>Services/Tariff</span></a></li>

                        <li class="mod-customer" title="Customer"><a href="@Url.Action("Index", "Customer", new { TypeID = "1" })"><span>Customer</span></a></li>
                        <li class="mod-pi-club" title="P&I Club"><a href="@Url.Action("Index", "Customer", new { TypeID = "2" })"><span>P&I Club</span></a></li>
                        <li class="mod-vendor" title="Vendor"><a href="@Url.Action("Index", "Customer", new { TypeID = "3"})"><span>Vendor</span></a></li>
                        <li class="mod-lawyer" title="Lawyer"><a href="@Url.Action("Index", "Customer", new { TypeID = "4" })"><span>Lawyer</span></a></li>
                        <li class="mod-imp-exp" title="Importer/Exporter"><a href="@Url.Action("Index", "Customer", new { TypeID = "5" })"><span>Importer/Exporter</span></a></li>
                        <li class="mod-party" title="Local Party"><a href="@Url.Action("Index", "Customer", new { TypeID = "6" })"><span>Local Party</span></a></li>


                        <li class="mod-email-template" title="Email Templates"><a href="@Url.Action("Index", "EmailTemplate")"><span>Email Templates</span></a></li>
                        <li class="mod-exchange-rate" title="Exchange Rate"><a href="@Url.Action("Index", "ExchangeRate")"><span>Exchange Rate</span></a></li>
                        <li class="mod-checklist" title="CheckList"><a href="@Url.Action("Index", "CheckList")"><span>CheckList</span></a></li>
                        <li class="mod-bank" title="Banks"><a href="@Url.Action("Index", "Bank")"><span>Banks</span></a></li>
                        <li class="mod-product" title="Product"><a href="@Url.Action("Index", "Product")"><span>Product</span></a></li>
                        <li class="mod-tanks" title="Tanks"><a href="@Url.Action("Index", "Tanks")"><span>Tanks</span></a></li>
                        <li class="mod-agency" title="Agencies"><a href="@Url.Action("Index", "Agency")"><span>Agencies</span></a></li>
                        <li class="mod-hearing" title="Claim Hearing Purpose"><a href="@Url.Action("Create", "HearingPurpose")"><span>Hearing Purpose</span></a></li>
                        <li class="mod-custom" title="Custom Dept"><a href="@Url.Action("Create", "CustomDept")"><span>Custom Dept</span></a></li>
                        <li class="mod-court" title="Courts"><a href="@Url.Action("Create", "Court")"><span>Court</span></a></li>
                        <li class="mod-user" title="Users"><a href="@Url.Action("Index", "User")"><span>Users</span></a></li>
                        <li class="mod-group" title="Groups"><a href="@Url.Action("Index", "Group")"><span>Groups</span></a></li>
                        <li class="mod-modules" title="Modules"><a href="@Url.Action("Index", "Module")"><span>Modules</span></a></li>
                    </ul>*@
            </div>
            <div class="expand-ctrl-box taskbar"><span class="expand-ctrl"></span></div>
        </div>
        <!-- sidebar ends -->



        <div id="content-wrapper">
            <!--Main Body -->
            <!-- HEADER -->
            <div id="header">
                <div class="row">
                    <div class="col">
                        <span class="btn-menu-toggle">
                            <button class="btn btn-menu"><i class="fa fa-bars"></i></button>
                        </span>


                        <div class="title-wrapper">
                            <h1 class="title">
                                @Html.Raw(ViewBag.Title)
                                @*
                                    <span>@RenderSection("TopSmallBtns", false)</span> <span class="offset-1">@Html.Raw(TopButtons)</span>
                                    <span class="data-loader" style="display: none;">
                                        <img src="~/Content/images/loader.gif" alt="" />
                                    </span>
                                *@
                            </h1>
                        </div>


                        @if (IsSectionDefined("TopBarArea"))
                        {
                            <div class="col top-button-area">
                                @RenderSection("TopBarArea", false);
                            </div>
                        }


                    </div> <!-- col -->



                    <div class="col">

                        @if (IsSectionDefined("SearchForm"))
                        {
                            <form method="get" id="searchTop" action="" accept-charset="utf-8">
                                <div class="input-group top-search-area">
                                    @RenderSection("SearchForm", false)
                                    @*<div class="searchCont css-search">*@
                                    <!-- Search Bar Extension -->

                                    @RenderSection("SearchFormHiddenFields", false)
                                    @*<div class="searchBox">
                                        <div class="searchInput">*@
                                    @*<label class="waterMarkNewsletter">quick search tool</label>*@
                                    <input type="text" value="@Request.QueryString["q"]" placeholder="Quick Search Tool" name="q" class="form-control searchTextBox wtmark nullText" id="searchBox">
                                    <span class="input-group-btn">
                                        <button class="btn btn-search" id="searchBtn" title="Enter text to search"><i class="fa fa-search"></i></button>
                                    </span>
                                    @*</div>
                                        </div>*@

                                    <!-- Advance / Search Filter -->
                                    <div class="search-filter">
                                        <span class="adv-filter expander">&nbsp;</span>
                                        <div class="filter">
                                            <div>
                                                @*<input type="text" name="" value="" placeholder="">*@
                                                @RenderSection("SearchFormAdditionalFields", false)
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*</div>*@
                            </form>

                        }



                        <div class="action-area fr">
                            @if (Auth.GroupID == 5)
                            {
                                <div class="header-notification">
                                    <div class="dropdown">
                                        <button type="button" class="dropdown-toggle icon" data-toggle="dropdown">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            @if (@ViewBag.PendingLeads > 0 )
    {
                                            <span class="badge badge-pill badge-warning">@ViewBag.PendingLeads</span>
}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="item">@Html.ActionLink("Pending Leads", "Index", "LeadPhone", new { statusid = 2 }, null)<span class="pendingLeads"> (@ViewBag.PendingLeads) </span></li>

                                        </ul>
                                    </div>
                                </div>
                            }
                            <div class="header-profile">
                                <div class="dropdown">

                                    <button href="#" class="dropdown-toggle icon" data-toggle="dropdown">
                                        @if (!string.IsNullOrEmpty(Auth.ThumbImg))
                                        {
                                            <span class="profile-img"><img class="profile-img img-circle" src="@Auth.ThumbImg" alt="" title="@Auth.Name" /></span>
                                        }<span> @Auth.Name.PadLeft(8) </span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="item"><a href="/User/ViewProfile"> View Profile   </a></li>
                                        <li class="item"><a href="/Task"> <span>@Auth.ActiveTasks</span> Task(s)   </a></li>
                                        <li class="item"><a href="/User/EditProfile"><span class="icon">&nbsp;</span>Edit Profile</a></li>
                                        <li class="item"><a href="/User/Logout"><span class="icon">&nbsp;</span>Log Out</a></li>
                                    </ul>

                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
            <!-- end #header -->


            <div class="clearfix"></div>



            <div id="main-content-area">
                <div class="content">
                    <!-- --------------------------------------------------------------------------------------------------------- -->
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="row no-margin">
                            @Html.ValidationSummary(false, "Please Provide the required information", new { @class = "error" })
                        </div>

                    }
                    @Alert.Show(TempData["OutputMessage"], @TempData["AlertCSS"])

                    <div class="col">@RenderBody()</div>

                </div>

                <div class="clearfix"></div>

                <!-- Footer Starts -->
                <div id="footer">
                    <div class="footerCont">
                        <div class="clearfix"></div>
                        <div class="copyright">
                            <p>@Html.Raw(WebConstants.SystemFooter)</p>
                        </div>


                    </div>

                    <!--- fonter cont -->

                </div>
                <!-- end #footer -->


            </div><!-- main-content-area -->


        </div>   <!-- content-wrapper  -->

        <div id="loader-wrapper">
            <div class="loader"><img src="~/Content/Images/Default/loading-circle.gif" alt="" /></div>
        </div>

    </div> <!-- / #main wrapper -->
    <!-- </div> -->
    <noscript>
        <div class="no-script-msg">
            <strong>It appears that your browser has JavaScript disabled.</strong>
            <p>This Website requires your browser to be JavaScript enabled. Please follow the steps below to enable JavaScript.</p>
        </div>
    </noscript>
</body>
</html>
