﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConstants.AppTitle</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/CustomScripts")






    <!--Additional Add-ons Script-->
    <!--  Script for IE 8 and Lower  -->
    <!--[if lt IE 9]>
    <script src="assets/script/css3-mediaqueries.js" type="text/javascript"></script>
    <script src="assets/script/ie-fix.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lte IE 7]>
    <![endif]-->

    @{
        if (ViewBag.CssClass != null)
        {
            string CssClass = "";
        }
        else
        {
            string CssClass = ViewBag.CssClass;
        }
    }

</head>
<body class="login @ViewBag.CssClass">
    <div id="main-wrapper">
        <div id="content-wrapper">
            <!--Main Body -->


            <div id="main-content-area">
                <div class="content">

                    <!-- Login Screen -->
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                <div id="login-box" class="row">
                                    <div class="sidebar">
                                        <h1 class="headerLogo">
                                            <a href="#">
                                                <img src="/Content/images/leadapp-logo.png" alt="@WebConstants.AppTitle" title="@WebConstants.AppTitle" />
                                            </a>
                                            <span>@WebConstants.AppTitle</span>
                                        </h1>
                                    </div>

                                    <div class="col content-form">
                                        @RenderBody()


                                        @if (!Html.ViewData.ModelState.IsValid)
                                        {
                                        <div class="alert-warning">
                                            @Html.ValidationSummary(false, "", new { @class = "error" })
                                        </div>
                                        }
                                        @Alert.Show(TempData["OutputMessage"], @TempData["AlertCSS"])
                                    
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div><!-- container -->



                    

                </div> <!--content-->
                <!-- / #content-wrapper -->
                @*
                        <!-- Footer Starts -->
                    <div id="footer">
                        <div class="footerCont">
                            <div class="clearfix"></div>
                            <div class="copyright">
                                <p>@Html.Raw(WebConstants.SystemFooter)</p>
                            </div>


                        </div>

                        <!--- fonter cont -->

                    </div>
                    <!-- end #footer -->
                *@

            </div>
            <!-- end #main-content -->

        </div> <!--content-wrapper-->

    </div><!--main-wrapper-->
    
    <noscript>
        <div class="no-script-msg">
            <strong>It appears that your browser has JavaScript disabled.</strong>
            <p>This Website requires your browser to be JavaScript enabled. Please follow the steps below to enable JavaScript.</p>
        </div>
    </noscript>
</body>
</html>
