﻿@model LeadApp.Models.Lead
@{
	Layout = null;
	ViewBag.Title = ViewBag.Name;
}
<div class="row no-margin">
	@Alert.Show(TempData["OutputMessage"], @TempData["AlertCSS"])
</div>

@using (Html.BeginForm("Index", "Form", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.Hidden("WebId")
	@Html.Hidden("WebGUID")


	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Submit" class="btn btn-default" />
		</div>
	</div>
}