﻿@model LeadApp.Models.Lead
@{
	Layout = "~/Views/Shared/_Front.cshtml";
	ViewBag.Title = ViewBag.Name;
	int Yrno = DateTime.Now.Year;
}

<div>
	@if (!Html.ViewData.ModelState.IsValid)
	{@Html.ValidationSummary(false, "Please Provide the required information", new { @class = "error bg-danger" })}
	@Alert.Show(TempData["OutputMessage"], @TempData["AlertCSS"])
</div>

@using (Html.BeginForm("Submit", "Form", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.Hidden("WebId")
	@Html.Hidden("WebGUID")

	<div class="form-group">
		@Html.Label("Vehicle Make", htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.DropDownList("ManufactureId", ViewBag.ManufactureId as IEnumerable<SelectListItem>, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.ManufactureId, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.VehicleModel, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.VehicleModel, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.VehicleYear, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@*@Html.EditorFor(model => model.VehicleYear, new { htmlAttributes = new { @class = "form-control" } })*@
			<select name="VehicleYear" id="VehicleYear" class="form-control">

				@for (int x = Yrno; x >= 1900; x--)
				{
					var sel = "";
					if (Model != null)
					{
						if (x == Model.VehicleYear) { sel = " selected=\"selected\""; }
					}
					<option value="@x" @sel>@x</option>
				}
			</select>
			@Html.ValidationMessageFor(model => model.VehicleYear, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
		</div>
	</div>
	@*<div class="form-group">
		@Html.LabelFor(model => model.ConditionId, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.DropDownList("ConditionId", ViewBag.ConditionId as IEnumerable<SelectListItem>, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.ConditionId, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.TitleId, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.DropDownList("TitleId", ViewBag.TitleId as IEnumerable<SelectListItem>, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "text-danger" })
		</div>
	</div>*@
	<div class="form-group">
		@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>
	@*<div class="form-group">
		@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
		</div>
	</div>*@
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Submit" class="btn btn-primary btn-lg" />
		</div>
	</div>
}