﻿@model LeadApp.Models.Lead
@{
	Layout = "~/Views/Shared/_Front.cshtml";
	ViewBag.Title = ViewBag.Name;
}

@*<div class="jumbotron green">
	<h1>@ViewBag.Domain</h1>
	<p class="lead">@ViewBag.Name</p>
</div>*@

@Html.Partial("_Form")