﻿@model LeadApp.Models.Lead

@{
	ViewBag.Title = "Lead Detail";
}
<div class="container-md">

    <div class="panel">
        <table>
            <tr>
                <td>@Html.Label("Website")</td>
                <td>
                    @Model.Website.Name
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.EntryDate)</td>
                <td>
                    @Html.DisplayFor(model => model.EntryDate)
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Manufacture")</td>
                <td>
                    @Model.Manufacturer.Name
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.VehicleYear)</td>
                <td>
                    @Html.DisplayFor(model => model.VehicleYear)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.VehicleModel)</td>
                <td>
                    @Html.DisplayFor(model => model.VehicleModel)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Mileage)</td>
                <td>
                    @Html.DisplayFor(model => model.Mileage)
                </td>
            </tr>
            @*<tr>
                <td>@Html.Label("Condition")</td>
                <td>
                    @if (@Model.Taxonomy1 != null)
                    {
                        @Model.Taxonomy1.Name
                    }
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Title")</td>
                <td>@if (@Model.Taxonomy != null) {
                    @Model.Taxonomy.Name
                }
                </td>
            </tr>*@
            <tr>
                <td>@Html.LabelFor(model => model.ZipCode)</td>
                <td>
                    @Html.DisplayFor(model => model.ZipCode)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone)</td>
                <td>
                    @Html.DisplayFor(model => model.Phone)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            @*<tr>
                <td>@Html.LabelFor(model => model.Comments)</td>
                <td>@Html.DisplayFor(model => model.Comments)</td>
            </tr>*@
        </table>

        <div>
            @Html.ActionLink("Back to List", "Index",null, new { @class="btn-back" })
        </div>
    </div>
</div>