﻿@model LeadApp.Models.Lead

@{
    ViewBag.Title = "Edit Lead";
}

@using (Html.BeginForm())
{   @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LeadId)
	<table>
		<tr>
			<td>@Html.LabelFor(model => model.WebId)</td>
			<td>
				@Html.DropDownList("WebId")<br />
				@Html.ValidationMessageFor(model => model.WebId)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Name)</td>
			<td>
				@Html.EditorFor(model => model.Name)<br />
				@Html.ValidationMessageFor(model => model.Name)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Phone)</td>
			<td>
				@Html.EditorFor(model => model.Phone)<br />
				@Html.ValidationMessageFor(model => model.Phone)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.ManufactureId)</td>
			<td>
				@Html.DropDownList("ManufactureId")<br />
				@Html.ValidationMessageFor(model => model.ManufactureId)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.VehicleModel)</td>
			<td>
				@Html.EditorFor(model => model.VehicleModel)<br />
				@Html.ValidationMessageFor(model => model.VehicleModel)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.VehicleYear)</td>
			<td>
				@Html.EditorFor(model => model.VehicleYear)<br />
				@Html.ValidationMessageFor(model => model.VehicleYear)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Mileage)</td>
			<td>
				@Html.EditorFor(model => model.Mileage)<br />
				@Html.ValidationMessageFor(model => model.Mileage)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.ZipCode)</td>
			<td>
				@Html.EditorFor(model => model.ZipCode)<br />
				@Html.ValidationMessageFor(model => model.ZipCode)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Email)</td>
			<td>
				@Html.EditorFor(model => model.Email)<br />
				@Html.ValidationMessageFor(model => model.Email)
			</td>
		</tr>



		<tr style="display:none;">
			<td>@Html.LabelFor(model => model.ConditionId)</td>
			<td>
				@Html.DropDownList("ConditionId")<br />
				@Html.ValidationMessageFor(model => model.ConditionId)
			</td>
		</tr>
		<tr style="display:none;">
			<td>@Html.LabelFor(model => model.TitleId)</td>
			<td>
				@Html.DropDownList("TitleId")<br />
				@Html.ValidationMessageFor(model => model.TitleId)
			</td>
		</tr>
		<tr style="display:none;">
			<td>@Html.LabelFor(model => model.Comments)</td>
			<td>
				@Html.TextAreaFor(model => model.Comments, new { cols = "20", rows = "05" })
				@Html.ValidationMessageFor(model => model.Comments)
			</td>
		</tr>
		<tr style="display:none;">
			<td>@Html.LabelFor(model => model.EntryDate)</td>
			<td>
				@Html.EditorFor(model => model.EntryDate)<br />
				@Html.ValidationMessageFor(model => model.EntryDate)
			</td>
		</tr>
	</table>


    <div class="row">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
