﻿@model IEnumerable<LeadApp.Models.Lead>
@{
	ViewBag.Title = "Failed Leads";
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: WebConstants.PagingSize, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid-content");
	grid.Pager(WebGridPagerModes.NextPrevious);
}
@section SearchForm {
}
@section TopButtons {
	@*@Html.ActionLink("Create New", "Create", null, new { @class = "btn" })*@
}

<div id="grid-content">
	@if (Model.Count() > 0)
	{
		@grid.GetHtml(tableStyle: "content-table grid",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			alternatingRowStyle: "alt-row",
			selectedRowStyle: "select-row",
			mode: WebGridPagerModes.All,
			firstText: "<< First",
			previousText: "Prev",
			nextText: "Next",
			lastText: "Last >>",

			columns: grid.Columns(			
			grid.Column("LeadId", "ID"),
			grid.Column("EntryDate", "Time", format: (item) => (HelperMethods.FormatDateTime(item.EntryDate))),                
			grid.Column(header : "Name", format : (item) => {
					if (!string.IsNullOrEmpty(item.Name))
						return Html.Raw(string.Format("<text>{0}</text>", item.Name));
					else
						return Html.Raw(string.Format("<text>N/A</text>"));
				}),
			grid.Column(header : "Tel", format : (item) => {
					if (!string.IsNullOrEmpty(item.Phone))
						return Html.Raw(string.Format("<text>{0}</text>", item.Phone));
					else
						return Html.Raw(string.Format("<text>N/A</text>"));
				}),
			grid.Column("VehicleYear", "Year"),
			//grid.Column("Manufacturer.Name", "Make"),
			grid.Column(header : "Make", format : (item) => {
				if (item.Manufacturer != null)
					return Html.Raw(string.Format("<text>{0}</text>", item.Manufacturer.Name));
				else
						return Html.Raw(string.Format("<text>-</text>"));
				}),	
			grid.Column(header : "Model", format : (item) => {
				if (!string.IsNullOrEmpty(item.VehicleModel))
					return Html.Raw(string.Format("<text>{0}</text>", item.VehicleModel));
				else
						return Html.Raw(string.Format("<text>N/A</text>"));
				}),
			grid.Column(header : "Mileage", format : (item) => {
				if (!string.IsNullOrEmpty(item.Mileage))
					return Html.Raw(string.Format("<text>{0}</text>", item.Mileage));
				else
						return Html.Raw(string.Format("<text>N/A</text>"));
				}),
			grid.Column("ZipCode", "Location"),
			grid.Column("PeddleError", "Peddle Error"),
			
			grid.Column("", header: "Actions", style: "grid-actions", format: @<text>
				@Html.ActionLink("Post", "PeddlePosted", new { id = item.LeadId }, new { @class = "grid-assign" })
			</text>)
			
		))
	}
	else
	{
		<div class="alert info">No Record Found</div>
	}

</div>

@DeleteHelper.Show()
