﻿@model LeadApp.Models.Taxonomy

@{
    ViewBag.Title = "Edit Taxonomy";
}

@using (Html.BeginForm())
{   @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TaxonomyId)
	<table>
		<tr>
			<td>@Html.LabelFor(model => model.TaxonomyCatId)</td>
			<td>
				@Html.DropDownList("TaxonomyCatId")<br />
				@Html.ValidationMessageFor(model => model.TaxonomyCatId)
			</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(model => model.Name)</td>
			<td>
				@Html.EditorFor(model => model.Name)<br />
				@Html.ValidationMessageFor(model => model.Name)
			</td>
		</tr>
	</table>


    <div class="row">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
