﻿@model LeadApp.Models.AppModule

	<div class="row">
		@Html.LabelFor(model => model.ModuleName, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.ModuleName)
			@Html.ValidationMessageFor(model => model.ModuleName)
		</div>
		@Html.LabelFor(model => model.ModuleLink, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.ModuleLink)
			@Html.ValidationMessageFor(model => model.ModuleLink)
		</div>
	</div>

<div class="row">
	@Html.LabelFor(model => model.ModuleIndex, new { @class = "control-label col-2" })
	<div class="col-3">
		@Html.EditorFor(model => model.ModuleIndex)
		@Html.ValidationMessageFor(model => model.ModuleIndex)
	</div>
	@Html.LabelFor(model => model.ModuleParam, new { @class = "control-label col-2" })
	<div class="col-3">
		@Html.EditorFor(model => model.ModuleParam)
		@Html.ValidationMessageFor(model => model.ModuleParam)
	</div>
</div>

	<div class="row">
		@Html.LabelFor(model => model.CssClass, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.CssClass)
			@Html.ValidationMessageFor(model => model.CssClass)
		</div>
		<div class="col-2">
			@Html.EditorFor(model => model.ShowInMenu)
			@Html.LabelFor(model => model.ShowInMenu, new { @class = "control-label" })
			@Html.ValidationMessageFor(model => model.ShowInMenu)
		</div>

		<div class="col-2">
			@Html.EditorFor(model => model.isPrimary)
			@Html.LabelFor(model => model.isPrimary, new { @class = "control-label" })
			@Html.ValidationMessageFor(model => model.isPrimary)
		</div>
	</div>


	<div class="row">
		@Html.LabelFor(model => model.Sort, new { @class = "control-label col-2" })
		<div class="col-3">
			@Html.EditorFor(model => model.Sort)
			@Html.ValidationMessageFor(model => model.Sort)
		</div>
		<div class="col-2">
			@Html.EditorFor(model => model.isDisable)
			@Html.LabelFor(model => model.isDisable, new { @class = "control-label" })
			@Html.ValidationMessageFor(model => model.isDisable)
		</div>
	</div>



	<div class="row">
		<div class="col-3">Main Activity</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasFullAccess, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasFullAccess)
			@Html.ValidationMessageFor(model => model.HasFullAccess)
		</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasCreate, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasCreate)
			@Html.ValidationMessageFor(model => model.HasCreate)
		</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasEdit, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasEdit)
			@Html.ValidationMessageFor(model => model.HasEdit)
		</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasDelete, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasDelete)
			@Html.ValidationMessageFor(model => model.HasDelete)
		</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasView, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasView)
			@Html.ValidationMessageFor(model => model.HasView)
		</div>
		<div class="col-1">
			@Html.LabelFor(model => model.HasDetail, new { @class = "control-label" })<br />
			@Html.EditorFor(model => model.HasDetail)
			@Html.ValidationMessageFor(model => model.HasDetail)
		</div>
	</div>



	<div class="row">
		@Html.LabelFor(model => model.HasCustom1, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom1)
			@Html.ValidationMessageFor(model => model.HasCustom1)
			<span class="Custom1" style="display: none">
				@Html.EditorFor(model => model.Label1)
				@Html.ValidationMessageFor(model => model.Label1)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom2, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom2)
			@Html.ValidationMessageFor(model => model.HasCustom2)
			<span class="Custom2" style="display: none">
				@Html.EditorFor(model => model.Label2)
				@Html.ValidationMessageFor(model => model.Label2)
			</span>
		</div>
	</div>


	<div class="row">
		@Html.LabelFor(model => model.HasCustom3, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom3)
			@Html.ValidationMessageFor(model => model.HasCustom3)
			<span class="Custom3" style="display: none">
				@Html.EditorFor(model => model.Label3)
				@Html.ValidationMessageFor(model => model.Label3)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom4, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom4)
			@Html.ValidationMessageFor(model => model.HasCustom4)
			<span class="Custom4" style="display: none">
				@Html.EditorFor(model => model.Label4)
				@Html.ValidationMessageFor(model => model.Label4)
			</span>
		</div>
	</div>


	<div class="row">
		@Html.LabelFor(model => model.HasCustom5, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom5)
			@Html.ValidationMessageFor(model => model.HasCustom5)
			<span class="Custom5" style="display: none">
				@Html.EditorFor(model => model.Label5)
				@Html.ValidationMessageFor(model => model.Label5)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom6, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom6)
			@Html.ValidationMessageFor(model => model.HasCustom6)
			<span class="Custom6" style="display: none">
				@Html.EditorFor(model => model.Label6)
				@Html.ValidationMessageFor(model => model.Label6)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom7, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom7)
			@Html.ValidationMessageFor(model => model.HasCustom7)
			<span class="Custom7" style="display: none">
				@Html.EditorFor(model => model.Label7)
				@Html.ValidationMessageFor(model => model.Label7)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom8, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom8)
			@Html.ValidationMessageFor(model => model.HasCustom8)
			<span class="Custom8" style="display: none">
				@Html.EditorFor(model => model.Label8)
				@Html.ValidationMessageFor(model => model.Label8)
			</span>
		</div>
	</div>  	<div class="row">
		@Html.LabelFor(model => model.HasCustom9, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom9)
			@Html.ValidationMessageFor(model => model.HasCustom9)
			<span class="Custom9" style="display: none">
				@Html.EditorFor(model => model.Label9)
				@Html.ValidationMessageFor(model => model.Label9)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom10, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom10)
			@Html.ValidationMessageFor(model => model.HasCustom10)
			<span class="Custom10" style="display: none">
				@Html.EditorFor(model => model.Label10)
				@Html.ValidationMessageFor(model => model.Label10)
			</span>
		</div>
	</div>




	<div class="row">
		@Html.LabelFor(model => model.HasCustom11, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom11)
			@Html.ValidationMessageFor(model => model.HasCustom11)
			<span class="Custom11" style="display: none">
				@Html.EditorFor(model => model.Label11)
				@Html.ValidationMessageFor(model => model.Label11)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom12, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom12)
			@Html.ValidationMessageFor(model => model.HasCustom12)
			<span class="Custom12" style="display: none">
				@Html.EditorFor(model => model.Label12)
				@Html.ValidationMessageFor(model => model.Label12)
			</span>
		</div>
	</div>


	<div class="row">
		@Html.LabelFor(model => model.HasCustom13, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom13)
			@Html.ValidationMessageFor(model => model.HasCustom13)
			<span class="Custom13" style="display: none">
				@Html.EditorFor(model => model.Label13)
				@Html.ValidationMessageFor(model => model.Label13)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom14, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom14)
			@Html.ValidationMessageFor(model => model.HasCustom14)
			<span class="Custom14" style="display: none">
				@Html.EditorFor(model => model.Label14)
				@Html.ValidationMessageFor(model => model.Label14)
			</span>
		</div>
	</div>


	<div class="row">
		@Html.LabelFor(model => model.HasCustom15, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom15)
			@Html.ValidationMessageFor(model => model.HasCustom15)
			<span class="Custom15" style="display: none">
				@Html.EditorFor(model => model.Label15)
				@Html.ValidationMessageFor(model => model.Label15)
			</span>
		</div>
	</div>

	<div class="row">
		@Html.LabelFor(model => model.HasCustom16, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom16)
			@Html.ValidationMessageFor(model => model.HasCustom16)
			<span class="Custom16" style="display: none">
				@Html.EditorFor(model => model.Label16)
				@Html.ValidationMessageFor(model => model.Label16)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom17, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom17)
			@Html.ValidationMessageFor(model => model.HasCustom17)
			<span class="Custom17" style="display: none">
				@Html.EditorFor(model => model.Label17)
				@Html.ValidationMessageFor(model => model.Label17)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom18, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom18)
			@Html.ValidationMessageFor(model => model.HasCustom18)
			<span class="Custom18" style="display: none">
				@Html.EditorFor(model => model.Label18)
				@Html.ValidationMessageFor(model => model.Label18)
			</span>
		</div>
	</div>  	<div class="row">
		@Html.LabelFor(model => model.HasCustom19, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom19)
			@Html.ValidationMessageFor(model => model.HasCustom19)
			<span class="Custom19" style="display: none">
				@Html.EditorFor(model => model.Label19)
				@Html.ValidationMessageFor(model => model.Label19)
			</span>
		</div>
	</div>
	<div class="row">
		@Html.LabelFor(model => model.HasCustom20, new { @class = "control-label col-2" })
		<div class="col-6">
			@Html.EditorFor(model => model.HasCustom20)
			@Html.ValidationMessageFor(model => model.HasCustom20)
			<span class="Custom20" style="display: none">
				@Html.EditorFor(model => model.Label20)
				@Html.ValidationMessageFor(model => model.Label20)
			</span>
		</div>
	</div>



<script type="text/javascript">
	$(document).ready(function () {
		if ($('#HasCustom1').is(":checked")) {
			$(".Custom1").show();
		}
		if ($('#HasCustom2').is(":checked")) {
			$(".Custom2").show();
		}
		if ($('#HasCustom3').is(":checked")) {
			$(".Custom3").show();
		}
		if ($('#HasCustom4').is(":checked")) {
			$(".Custom4").show();
		}
		if ($('#HasCustom5').is(":checked")) {
			$(".Custom5").show();
		}
		if ($('#HasCustom6').is(":checked")) {
			$(".Custom6").show();
		}
		if ($('#HasCustom7').is(":checked")) {
			$(".Custom7").show();
		}
		if ($('#HasCustom8').is(":checked")) {
			$(".Custom8").show();
		}
		if ($('#HasCustom9').is(":checked")) {
			$(".Custom9").show();
		}
		if ($('#HasCustom10').is(":checked")) {
			$(".Custom10").show();
		}

		if ($('#HasCustom11').is(":checked")) {
			$(".Custom11").show();
		}
		if ($('#HasCustom12').is(":checked")) {
			$(".Custom12").show();
		}
		if ($('#HasCustom13').is(":checked")) {
			$(".Custom13").show();
		}
		if ($('#HasCustom14').is(":checked")) {
			$(".Custom14").show();
		}
		if ($('#HasCustom15').is(":checked")) {
			$(".Custom15").show();
		}
		if ($('#HasCustom16').is(":checked")) {
			$(".Custom16").show();
		}
		if ($('#HasCustom17').is(":checked")) {
			$(".Custom17").show();
		}
		if ($('#HasCustom18').is(":checked")) {
			$(".Custom18").show();
		}
		if ($('#HasCustom19').is(":checked")) {
			$(".Custom19").show();
		}
		if ($('#HasCustom20').is(":checked")) {
			$(".Custom20").show();
		}





		$('#HasCustom1').change(function () {
			$(".Custom1").toggle(this.checked);
		});

		$('#HasCustom2').change(function () {
			$(".Custom2").toggle(this.checked);
		});

		$('#HasCustom3').change(function () {
			$(".Custom3").toggle(this.checked);
		});

		$('#HasCustom4').change(function () {
			$(".Custom4").toggle(this.checked);
		});

		$('#HasCustom5').change(function () {
			$(".Custom5").toggle(this.checked);
		});

		$('#HasCustom6').change(function () {
			$(".Custom6").toggle(this.checked);
		});
		$('#HasCustom7').change(function () {
			$(".Custom7").toggle(this.checked);
		});

		$('#HasCustom8').change(function () {
			$(".Custom8").toggle(this.checked);
		});

		$('#HasCustom9').change(function () {
			$(".Custom9").toggle(this.checked);
		});
		$('#HasCustom10').change(function () {
			$(".Custom10").toggle(this.checked);
		});


		$('#HasCustom11').change(function () {
			$(".Custom11").toggle(this.checked);
		});

		$('#HasCustom12').change(function () {
			$(".Custom12").toggle(this.checked);
		});

		$('#HasCustom13').change(function () {
			$(".Custom13").toggle(this.checked);
		});

		$('#HasCustom14').change(function () {
			$(".Custom14").toggle(this.checked);
		});

		$('#HasCustom15').change(function () {
			$(".Custom15").toggle(this.checked);
		});

		$('#HasCustom16').change(function () {
			$(".Custom16").toggle(this.checked);
		});
		$('#HasCustom17').change(function () {
			$(".Custom17").toggle(this.checked);
		});

		$('#HasCustom18').change(function () {
			$(".Custom18").toggle(this.checked);
		});

		$('#HasCustom19').change(function () {
			$(".Custom19").toggle(this.checked);
		});
		$('#HasCustom20').change(function () {
			$(".Custom20").toggle(this.checked);
		});


	});
</script>
