﻿@model IEnumerable<LeadApp.Models.AppModuleConfig>
@{
	ViewBag.Title = "Module Configuration";
	var ModuleId = ViewBag.ModuleId;
	var grid = new WebGrid(Model, canPage: true, rowsPerPage: WebConstants.PagingSizeBig, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid-content");
	grid.Pager(WebGridPagerModes.NextPrevious);
}
@section SearchForm {
}
@section TopButtons {
}

<div id="grid-content">
	@if (Model.Count() > 0)
	{
		@grid.GetHtml(tableStyle: "content-table grid",
			headerStyle: "grid-header",
			footerStyle: "grid-footer",
			alternatingRowStyle: "alt-row",
			selectedRowStyle: "select-row",
			mode: WebGridPagerModes.All,
			firstText: "<< First",
			previousText: "Prev",
			nextText: "Next",
			lastText: "Last >>",

			columns: grid.Columns(
			grid.Column(columnName: "AppModule.ModuleName", header: "Module Name"),
			grid.Column(columnName: "ConfigKey", header: "Name"),
			grid.Column(columnName: "ConfigValue", header: "Value"),
			grid.Column("", header: "Actions", style: "grid-actions", format: @<text>
	@if(!item.isLock){
				@Html.ActionLink("Edit", "ConfigEdit", new { id = item.ConfigID, ModuleId = ModuleId }, new { @class = "grid-edit" })
	}
			</text>)
				  ))
	}
	else
	{
		<div class="alert info">No Record Found</div>
	}

</div>

@DeleteHelper.Show()
