﻿@model LeadApp.Models.AppModule

@{
	ViewBag.Title = "App Module Modification";
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ModuleID)
	
	Html.RenderPartial("_attributes", Model);
	
	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
}
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
