﻿@model IEnumerable<LeadApp.Models.FileViewModel>

@* <div id="filecontent">
       <table>   
			<tr>
				<th>Title</th>
				<th>Permission</th>
				<th>Action</th>
			</tr>*@
		@{ int i = 0; }
        @foreach (var item in (IEnumerable<LeadApp.Models.FileViewModel>)ViewBag.filelists)
        {
             item.RecordId=Guid.NewGuid().ToString();       
             @Html.Partial("../FileUploader/FileUploadView", item);  
             i++;
        }   
@*    </table>
 </div>*@

<script type="text/javascript"> 
	$(document).ready(function () {
		$("#filecontent").on('click', '#btndelete', function (e) {		
		    var id = $(this).attr('class');
				$("#row-" + id).remove();		
		});

		$("#filecontent").on('click', '#btnedit', function (e) {
		    alert("abc");
		    if (e.handled !== true) {
		        var url = "/FileUploader/UploadFileEdit/";
		        var id = $(this).attr('class');
		        e.handled = true;
		        $.ajax({
		            url: "/FileUploader/UploadFileEdit/",
		            data: { RecordId: id, Permission: $("#FilePermission-" + id).val(), Title: $("#FileTitle-" + id).val(), Source: $("#FileSource-" + id).val() },
		            cache: false,
		            type: "POST",
		            success: function (data) {
		                $("#mydialogEdit").html(data);
		                $("#mydialogEdit").dialog('open');
		                return false;
		            },
		            error: function (reponse) {
		                alert("error : " + reponse);
		            }
		        });
		    }
		});
	});
</script>


