﻿@model LeadApp.Models.FileViewModel
@using LeadApp.Helpers
@Html.HiddenFor(m => m.FileTitle, new { @class = "title" })
@Html.HiddenFor(m => m.FileSource, new { @class = "source" })
<input type="hidden" name="FilePermission" value="@Model.FilePermission" class="permission" />

<tr>
	<td><a href="@Model.FileLink">@Html.DisplayFor(m => m.FileTitle)</a></td>
	<td>@Html.DisplayFor(m => m.FilePermission)</td>
	<td>
		<input type="button" value="Edit" name="btnedit" class="clsedit" /> <a href="#" class="deleteRow grid-delete">delete</a>
	</td>
</tr>
<input type="hidden" value="0" class="hsource" />
<input type="hidden" value="0" class="hper" />
<input type="hidden" value="0" class="htitle" />
<input type="hidden" value="0" class="hedit" />
<input type="hidden" value="0" class="hcls" />


<script type="text/javascript">
	$(document).ready(function () {

		$(".permission").each(function () {
			var check1 = $(".hper").val();
			$(this).attr('class', "permission" + check1);
			alert("abc");
			check1 = parseInt(check1) + 1;
			$(".hper").val(check1);
		});

		$(".title").each(function () {
			var check2 = $(".htitle").val();
			$(this).attr('class', "title" + check2);
			check2 = parseInt(check2) + 1;
			$(".htitle").val(check2);
		});

		$(".source").each(function () {
			var check2 = $(".hsource").val();
			$(this).attr('class', "source" + check2);
			check2 = parseInt(check2) + 1;
			$(".hsource").val(check2);
		});

		$(".clsedit").each(function () {
			var check1 = $(".hedit").val();
			$(this).attr('class', check1);
			check1 = parseInt(check1) + 1;
			$(".hedit").val(check1);
		});



		$(".editorRow").on('click', 'input[name = "btnedit"]', function (e) {
	
		  if (e.handled !== true) {
				var url = "/FileUploader/UploadFileEdit/";
				var id = $(this).attr('class');
				e.handled = true;
				$.ajax({
					url: "/FileUploader/UploadFileEdit/",
					data: { RecordId: id, Permission: $(".permission" + id).val(), Title: $(".title" + id).val(), Source: $(".source" + id).val() },
					cache: false,
					type: "POST",
					success: function (data) {
						$("#my-dialog").html(data);
						$("#my-dialog").dialog('open');
						return false;
					},
					error: function (reponse) {
						alert("error : " + reponse);
					}
				});
			}
		});
	});
</script>
