﻿@using (Html.BeginForm("UploadFilesjv", "FileUploader", FormMethod.Post, new { id = "fileUploadForm", enctype = "multipart/form-data" })) { 
	<input type="hidden" name="RecordId" id="RecordId" value="@ViewBag.ServiceId" />	
	<span id="msgs"></span>
	<table>
	<tr>
		<td>Title:</td>
		<td><input type="file" name="FileSource" id="postedFileTitle" value="@ViewBag.FileTitle" /></td>
	</tr>
    <tr>
		<td colspan="2">
			<input type="submit" value="Upload" name="btnsave" class="btn primary" /> 
    	</td>
	</tr>
	</table>
}
<script src="@Url.Content("~/Scripts/jform.js") " type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$('#fileUploadForm').ajaxForm({
			 beforeSubmit: ShowRequest,
			success: SubmitSuccesful,
			error: AjaxError
		});

	});

	function ShowRequest(formData, jqForm, options) {
		$('<img id="loadingGif" src="/content/images/ajax-loader.gif" />').appendTo('#statusimage');
	}

	function AjaxError() {
		$("#msgs").html("- A file upload error occured.<br/>");
	}

	function SubmitSuccesful(responseText, statusText) {
	    if (responseText.val == false) {
	        $("#msgs").html(responseText.message);
	    }
	    else {

	        var QuotationId = responseText.RecordId;
	        window.location.href = '/Billing/JV/' + QuotationId;

	    }

	}
</script>


