﻿@model LeadApp.Models.FileViewModel

 <tr id="row-@Model.RecordId">
                <td>
                     <input type="hidden" name="item.Index" value="@Model.RecordId" />
                     <a href="@Model.FileLink">@Model.FileTitle</a>
                     <input type="hidden" id="FileTitle-@Model.RecordId" name="item[@Model.RecordId].FileTitle" value="@Model.FileTitle" />
                </td>
                <td>@Model.FilePermission <input type="hidden" id="FilePermission-@Model.RecordId" name="item[@Model.RecordId].FilePermission" value="@Model.FilePermission" />
                     <input type="hidden" id="FilePermissionIds-@Model.RecordId" name="item[@Model.RecordId].FilePermissionIds" value="@Model.FilePermissionIds" />
                    <input type="hidden" id="FileSource-@Model.RecordId" name="item[@Model.RecordId].FileSource" value="@Model.FileSource" />
                </td> 
                <td><a href="javascript:;" id="btnedit" class="@Model.RecordId">Edit</a>
                    <a href="javascript:;" id="btndelete" class="@Model.RecordId">Delete</a> 
                </td> 
 </tr>
                
