﻿@using (Html.BeginForm("UploadFilesEdit", "FileUploader", FormMethod.Post, new { id = "fileUploadFormEdit", enctype = "multipart/form-data" }))
{ 
	<input type="hidden" name="RecordId" id="RecordId" value="@ViewBag.RecordId" />
	<input type="hidden" name="Source" id="Source" value="@ViewBag.Source" />
    
	<span id="msgs"></span>
	<table>
	<tr>
		<td>Title:</td>
		<td><input type="text" name="FileTitle" id="postedFileTitle" value="@ViewBag.FileTitle" /></td>
	</tr>   
	<tr>
		<td>Permission:</td>
		<td>@Html.ListBox("FilePermission", ViewBag.GroupDd as MultiSelectList, new { @class = "custom-select" }) <input type="hidden" name="filepermissionids" /> </td>
	</tr>
	<tr>
		<td colspan="2"><input type="file" name="FileSource" id="postedFilesource" /></td>
	</tr>  
	<tr>
		<td colspan="2">
			<input type="submit" value="Upload" name="btnsave" class="btn primary" />
    	</td>
	</tr>
	</table>
}
<script src="@Url.Content("~/Scripts/jform.js") " type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$('#fileUploadFormEdit').ajaxForm({
			 beforeSubmit: ShowRequest,
			success: SubmitSuccesful,
			error: AjaxError
		});

	});

	function ShowRequest(formData, jqForm, options) {
		$('<img id="loadingGif" src="/content/images/ajax-loader.gif" />').appendTo('#statusimage');
	}

	function AjaxError() {
		$("#msgs").html("- A file upload error occured.<br/>");
	}

	function SubmitSuccesful(responseText, statusText) {

	    if (responseText.val == false) {
	        $("#msgs").html(responseText.message);
		}
		else
	    {	    
	        $("#row-" + responseText.RecordId).empty();
	        $("#row-" + responseText.RecordId).append(responseText.url);
			$('#mydialogEdit').dialog('close');		
		}
	}
</script>


