﻿@model IEnumerable<LeadApp.Models.FileViewModel>

<table id="filecontent">
        <tr>
            <th>Title</th>
            <th>Permission</th>
            <th>Action</th>
        </tr>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                item.RecordId = Guid.NewGuid().ToString();       
            @Html.Partial("../FileUploader/FileUploadView", item);
            i++;
            }
        }
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#filecontent").on('click', '#btndelete', function (e) {
            var id = $(this).attr('class');
            $("#row-" + id).remove();
        });

        $("#filecontent").on('click', '#btnedit', function (e) {
          
          
            if (e.handled !== true) {
                var url = "/FileUploader/UploadFileEdit/";
                var id = $(this).attr('class');         
                e.handled = true;
                $.ajax({
                    url: "/FileUploader/UploadFileEdit/",
                    data: { RecordId: id, Permission: $("#FilePermission-" + id).val(), Title: $("#FileTitle-" + id).val(), Source: $("#FileSource-" + id).val() },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        $("#mydialogEdit").html(data);
                        $("#mydialogEdit").dialog('open');
                        return false;
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
        });
    });
</script>


